:root {
  --color-50: #ecfff6;
  --color-100: #d2ffed;
  --color-200: #a8ffdc;
  --color-300: #65ffc3;
  --color-400: #1bffa2;
  --color-500: #00f984;
  --color-600: #00d069;
  --color-700: #00a256;
  --color-800: #007e48;
  --color-900: #00653d;
  --color-950: #003b20;
}