{% load static %}
{% load bootstrap5 %}
<html lang="">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    {% bootstrap_css %}
    {% if 'javascript_in_head'|bootstrap_setting %}
        {% bootstrap_javascript %}
    {% endif %}
    {% block bootstrap5_extra_head %}{% endblock %}
<style>
    .navbar-brand img {
  width: 80px;
}
.navbar-nav {
  align-items: center;
}
.navbar{
    background-color: #00653D;
}
.navbar .navbar-nav .nav-link {
  color: #fff !important;
  font-size: 1.1em;
  padding: 0.5em 1em;
}

@media screen and (min-width: 768px) {
  .navbar-brand img {
    width: 100px;
  }
  .navbar-brand {
    margin-right: 0;
    padding: 0 1em;
  }
}
</style>
</head>

<body>
<nav class="navbar navbar-expand-md navbar-dark">
  <div class="container-fluid">
    <a class="navbar-brand d-md-none" href="{%  if user.is_authenticated and user.rol == "Tutor" or user.rol == "Usuario" %} {% url 'usuario' %} {% else %} {% url 'inicio' %} {% endif %} ">
  <img src="https://i.ibb.co/hY5nY5D/prueba-logo2.png" alt="" >
    </a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNav">
      <ul class="navbar-nav mx-auto">
        <li class="nav-item">
          <a class="nav-link" aria-current="page" href="{% url 'noticias' %}">Noticias</a>
        </li>
      {% if user.is_authenticated and user.rol == "Tutor" %}
          <div class="btn-group">
          <a class="nav-link" href="{% url 'gestion_familia' %}">Gestión</a>
          <button type="button" class="btn dropdown-toggle dropdown-toggle-split" data-bs-toggle="dropdown" aria-expanded="false" style="color: white">
            <span class="visually-hidden">Toggle Dropdown</span>
          </button>
          <ul class="dropdown-menu">
              {% for h in hijos %}
              <li><a class="dropdown-item" href="{% url 'noticias' %}">{{ h.nombre }} {{ h.apellidos }}</a></li>
              {% endfor %}
          </ul>
      </div>
          {% else %}
          <li class="nav-item">
            <a class="nav-link" href="{% url 'tarifas' %}">Tarifas</a>
          </li>
      {% endif %}
        <a class="navbar-brand d-none d-md-block" href="{%  if user.is_authenticated and user.rol == "Tutor" or user.rol == "Usuario" %} {% url 'usuario' %} {% else %} {% url 'inicio' %} {% endif %} ">
          <img src="https://i.ibb.co/hY5nY5D/prueba-logo2.png" alt="">
        </a>
        <li class="nav-item">
          <a class="nav-link" href="#">Tienda</a>
        </li>
          {% if user.is_authenticated %}
              <li class="nav-item">
              <a class="nav-link" href="{% url 'perfil' %}" >Mi perfil</a>
            <li class="nav-item">
              <a class="nav-link" href="{% url 'desloguear' %}" >Salir</a>
            </li>


          {% else %}
              <li class="nav-item">
                  <a class="nav-link" href="{% url 'login' %}" >Login</a>
             </li>
          {% endif %}
      </ul>
    </div>
  </div>
</nav>

<!-- Bootstrap JavaScript if it is in body -->
{% if not 'javascript_in_head'|bootstrap_setting %}
    {% bootstrap_javascript %}
{% endif %}



{% block bootstrap5_extra_script %}{% endblock %}
</body>
</html>