<!DOCTYPE html>
<html lang="es">
{% include "barra_admin.html" %}

<body>
<head>
    <title>Crear Estadisticas Jugador</title>
</head>

<div class="container">


    <h1 class="my-4">{% if modo_edicion %}Editar{% else %}Crear{% endif %} Estadísticas</h1>

        {% if errores %}
        <div class="alert alert-danger">
            <ul>
                {% for error in errores %}
                    <li>{{ error }}</li>
                {% endfor %}
            </ul>
        </div>
        {% endif %}

    <form action="" method="post">

        {% csrf_token %}
        <div class="row">
            <div class="col-md-4">
                <label for="partido" class="form-label">Partido:</label>
                <select name="partido" id="partido" class="form-select">
                    {% for p in lista_partidos %}
                        <option class="part" value="{{ p.id }}"{% if p.id == estadisticas_jugador.partido.id %} selected {% endif %}>{{ p.equipo1 }} vs {{ p.equipo2 }}</option>
                    {% endfor %}
                </select>
            </div>
        </div>
        <div class="row">
            <div class="col-md-4">
                <label for="minutos" class="form-label">Minutos:</label>
                <input type="number" name="minutos" id="minutos" class="form-control" value="{{ estadisticas_jugador.minutos  }}" required>
            </div>
            <div class="col-md-4" id="nombreField">
                <label for="puntos" class="form-label">Puntos:</label>
                <input type="number" name="puntos" id="puntos" class="form-control" value="{{ estadisticas_jugador.puntos}}" required>
            </div>
            <div class="col-md-4" id="nombreField">
                <label for="asistencias" class="form-label">Asistencias:</label>
                <input type="number" name="asistencias" id="asistencias" class="form-control" value="{{ estadisticas_jugador.asistencias}}" required>
            </div>
        </div>
        <div class="row">
            <div class="col-md-4" id="nombreField">
                <label for="rebotes" class="form-label">Rebotes:</label>
                <input type="number" name="rebotes" id="rebotes" class="form-control" value="{{ estadisticas_jugador.rebotes}}" required>
            </div>
            <div class="col-md-4" id="nombreField">
                <label for="faltas" class="form-label">Faltas:</label>
                <input type="number" name="faltas" id="faltas" class="form-control" value="{{ estadisticas_jugador.faltas}}" required>
            </div>
            <div class="col-md-4">
            <label for="jugadores" class="form-label">Jugadores:</label>
            <select name="jugadores" id="jugadores" class="form-select">
               
            </select>
</div>

        </div>
        <div class="row">
            <div class="col-12 text-center">
                <button type="submit" class="btn btn-primary mt-3">Submit</button>
            </div>
        </div>
    </form>

    <div class="row">
        <div class="col-12 text-center">
            <a href="{% url 'administrador' %}" role="button" class="btn btn-secondary mt-3">Volver</a>
        </div>
    </div>
</div>
<script>
    // Obtiene el elemento de entrada para 'minutos'
    var input1=  document.getElementById('minutos');
    // Agrega un evento de entrada al elemento
    input1.addEventListener('input',function(){
      // Si la longitud del valor es mayor a 3, corta el valor a los primeros 3 caracteres
      if (this.value.length > 3) 
         this.value = this.value.slice(0,3);
      // Si el valor es menor a 0, establece el valor a 0
      if (this.value < 0) {
                this.value = 0;
            }
    })

    // Repite el proceso para 'puntos', 'faltas', 'asistencias' y 'rebotes'
    var input2=  document.getElementById('puntos');
    input2.addEventListener('input',function(){
      if (this.value.length > 3) 
         this.value = this.value.slice(0,3);
      if (this.value < 0) {
                this.value = 0;
            }
    })

    var input3=  document.getElementById('faltas');
    input1.addEventListener('input',function(){
      if (this.value.length > 3) 
         this.value = this.value.slice(0,3);
      if (this.value < 0) {
                this.value = 0;
            }
    })

    var input4=  document.getElementById('asistencias');
    input2.addEventListener('input',function(){
      if (this.value.length > 3) 
         this.value = this.value.slice(0,3);
      if (this.value < 0) {
                this.value = 0;
            }
    })

    var input5=  document.getElementById('rebotes');
    input2.addEventListener('input',function(){
      if (this.value.length > 3) 
         this.value = this.value.slice(0,3);
      if (this.value < 0) {
                this.value = 0;
            }
    })
</script>

<script>
    // Obtiene el elemento de selección 'partido'
    document.getElementById('partido').addEventListener('change', function() {
        // Guarda el valor seleccionado en 'partidoId'
        var partidoId = this.value;
        // Crea una nueva solicitud XMLHttpRequest
        var xhr = new XMLHttpRequest();
        // Define una función para manejar los cambios de estado de la solicitud
        xhr.onreadystatechange = function() {
            // Si la solicitud ha terminado
            if (xhr.readyState === XMLHttpRequest.DONE) {
                // Si el estado de la respuesta es 200 (éxito)
                if (xhr.status === 200) {
                    // Parsea la respuesta como JSON
                    var response = JSON.parse(xhr.responseText);
                    // Obtiene el elemento de selección 'jugadores'
                    var jugadoresSelect = document.getElementById('jugadores');
                    // Limpia el contenido del elemento de selección 'jugadores'
                    jugadoresSelect.innerHTML = '';
                    // Recorre la lista de jugadores en la respuesta
                    response.jugadores.forEach(function(jugador) {
                        // Crea un nuevo elemento de opción
                        var option = document.createElement('option');
                        // Establece el valor de la opción al id del jugador
                        option.value = jugador.id;
                        // Establece el texto de la opción al nombre del jugador
                        option.textContent = jugador.nombre;
                        // Añade el atributo 'name' a la opción con el valor del id del jugador
                        option.setAttribute('name', jugador.id)
                        // Añade la opción al elemento de selección 'jugadores'
                        jugadoresSelect.appendChild(option);
                    });
                } else {
                    // Si el estado de la respuesta no es 200, imprime un error en la consola
                    console.error('Error al obtener los jugadores');
                }
            }
        };
        // Abre la solicitud con el método 'GET' y la URL para obtener jugadores por partido
        xhr.open('GET', '{% url 'obtener_jugadores_por_partido' %}?partido_id=' + partidoId, true);
        // Envía la solicitud
        xhr.send();
    });

</script>




</body>

</html>