<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <title>Crear usuario</title>
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    
    <style>
        .card {
            height: 100%;
        }
        
        .card-img-top {
            display: block;
            margin-left: auto;
            margin-right: auto;
        }

        /* Estilo para resaltar el equipo seleccionado */
        .resaltado {
            border: 2px solid #006b1b !important;
        }
    </style>
    
</head>


{% include "barra_navegacion.html" %}

<body>

<div class="container">


    <h1 class="my-4">{% if modo_edicion %} Editar {% else %} Crear {% endif %} Jugador</h1>

        {% if errores %}
        <div class="alert alert-danger">
            <ul>
                {% for error in errores %}
                    <li>{{ error }}</li>
                {% endfor %}
            </ul>
        </div>
        {% endif %}

     <form action="" method="post" id="equipos_form">

        {% csrf_token %}
        
        {% if edicion_equipo %}
            
        <div class="row rol-cols-md-3 justify-content-center">
            {% for e in equipos %}
            <div class="col-md-3 col-sm-6 col-xs-12 mb-4">
                <div class="card rounded-3 shadow-sm" data-equipo-id="{{ e.equipo.id }}">
                    <img src="{{ e.equipo.escudo }}" class="card-img-top mt-3 " alt="..." style="max-width: 200px">
                    <div class="card-body text-center">
                        <ul class="list-unstyled mt-3 mb-4">
                            <li> <b>Categoria:</b> {{ e.equipo.categoria }}</li>
                             <li> <b>Plazas disponibles:</b> {{ e.plazas_libres }}</li>
                        </ul>
                    </div>
                    <div class="card-header py-3">
                        <h4 class="my-0 fw-normal">{{ e.equipo.nombre }}</h4>
                    </div>
                </div>
            </div>
            {% endfor %}
        </div>
        <input type="hidden" id="tarifa_seleccionada" name="tarifa_seleccionada">
        <input type="hidden" id="nombre-jug" name="nombre-jug" value="{{ nombre }}">
        <input type="hidden" id="apellidos-jug" name="apellidos-jug" value="{{ apellidos }}">
        <input type="hidden" id="hijo" name="hijo" value="{{ hijo.id }}">
            
        <div class="row">
            <div class="col-12 text-center">
                <button type="submit" class="btn btn-primary mt-3" id="enviar_equipos">Submit</button>
            </div>
        </div>
            
       {% else %}
    

        <div class="row" id="datos">
            <div class="col-md-4">
                <label for="username" class="form-label">Username:</label>
                <input type="text" name="username" id="username" class="form-control" value="{{ username }}" required>
            </div>
            <div class="col-md-4" id="nombreField">
                <label for="nombre" class="form-label">Nombre:</label>
                <input type="text" name="nombre" id="nombre" class="form-control" value="{% if modo_edicion %}{{ jugador.nombre }}{% else %}{{ nombre }}{% endif %}">
            </div>
            <div class="col-md-4" id="apellidosField">
                <label for="apellidos" class="form-label">Apellidos:</label>
                <input type="text" name="apellidos" id="apellidos" class="form-control" value="{% if modo_edicion %}{{ jugador.apellidos }}{% else %}{{ apellidos }}{% endif %}">
            </div>
        </div>

        <div class="row">
            <div class="col-md-4">
                <label for="email" class="form-label">Email:</label>
                <input type="email" name="email" id="email" class="form-control" value="{{ email }}" required>
            </div>
            <div class="col-md-4">
                <label for="password" class="form-label">Contraseña:</label>
                <input type="password" name="password" id="password" class="form-control" required>
            </div>
            <div class="col-md-4">
                <label for="password2" class="form-label">Repite contraseña:</label>
                <input type="password" name="password2" id="password2" class="form-control" required>
            </div>
        </div>

        <div class="row">
            <div class="col-md-4">
                <label for="fecha_nacimiento" class="form-label">Fecha de nacimiento:</label>
                <input type="date" name="fecha_nacimiento" id="fecha_nacimiento" class="form-control" value="{% if modo_edicion %}{{ jugador.usuario.fecha_nacimiento|date:'Y-m-d' }}{% else %}{{ fecha_nacimiento }}{% endif %}" required>
            </div>
        </div>
        

        <div class="row">
            <div class="col-12 text-center">
                <button name="boton" value="seleccion_datos" type="submit" class="btn btn-primary mt-3">Submit</button>
            </div>
        </div>

    </form>

    {% endif %}

    <div class="row">
        <div class="col-12 text-center">
            <a href="{% url 'gestion_familia' %}" role="button" class="btn btn-secondary mt-3 {% if edicion_equipo %}d-none{% endif %}">Volver</a>
        </div>
    </div>
        
        
</div>

<script>
    var modoEdicion = {{ modo_edicion|lower }};
    
    function deshabilitarCampos() {
        $('#username').prop('disabled', true);
        $('#email').prop('disabled', true);
        $('#password').prop('disabled', true);
        $('#password2').prop('disabled', true);
    }
    
    if (modoEdicion) {
        deshabilitarCampos();
    }
</script>

<script>
    $(document).ready(function() {
    // Resaltar el equipo seleccionado
    $('.card').on('click', function() {
        $('.card').removeClass('resaltado');
        $(this).addClass('resaltado');
    });

    // Enviar el ID del equipo seleccionado
    $('#enviar_equipos').on('click', function(e) {
        e.preventDefault(); // Evitar el envío del formulario por defecto
        var equipoId = $('.resaltado').data('equipo-id');
        $('#tarifa_seleccionada').val(equipoId);
        $('#equipos_form').submit();
    });
});
</script>

<script>
     var edicion_equipo = {{ edicion_equipo|lower }};
     
        if (edicion_equipo) {
            $('#equipos').show();
            $('#datos').hide();
        }
</script>

</body>

</html>
