<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <title>Crea usuario</title>
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    
    <style>
        #equipoSelect, #tutorSelect, #entrenadorSelect, #nombreField, #apellidosField, #equiposSelect {
            display: none;
        }
    </style>
    
</head>


{% include "barra_admin.html" %}

<body>

<div class="container">


    <h1 class="my-4">Crear usuario</h1>

        {% if errores %}
        <div class="alert alert-danger">
            <ul>
                {% for error in errores %}
                    <li>{{ error }}</li>
                {% endfor %}
            </ul>
        </div>
        {% endif %}

    <form action="" method="post">

        {% csrf_token %}

        <div class="row">
            <div class="col-3 responsive-div">
                <label for="rol" class="form-label">Rol:</label>
                <select name="rol" id="rol" class="form-select">
                {% for r in roles %}
                    <option value="{{ r }}">{{ r }}</option>
                {% endfor %}
            </select>
            </div>
        </div>

        <div class="row">
            <div class="col-md-4">
                <label for="username" class="form-label">Username:</label>
                <input type="text" name="username" id="username" class="form-control" value="{{ username }}" required>
            </div>
            <div class="col-md-4" id="nombreField">
                <label for="nombre" class="form-label">Nombre:</label>
                <input type="text" name="nombre" id="nombre" class="form-control">
            </div>
            <div class="col-md-4" id="apellidosField">
                <label for="apellidos" class="form-label">Apellidos:</label>
                <input type="text" name="apellidos" id="apellidos" class="form-control">
            </div>
        </div>

        <div class="row">
            <div class="col-md-4">
                <label for="email" class="form-label">Email:</label>
                <input type="email" name="email" id="email" class="form-control" value="{{ email }}" required>
            </div>
            <div class="col-md-4">
                <label for="password" class="form-label">Contraseña:</label>
                <input type="password" name="password" id="password" class="form-control" required>
            </div>
            <div class="col-md-4">
                <label for="password2" class="form-label">Repite contraseña:</label>
                <input type="password" name="password2" id="password2" class="form-control" required>
            </div>
        </div>

        <div class="row">
            <div class="col-md-4">
                <label for="fecha_nacimiento" class="form-label">Fecha de nacimiento:</label>
                <input type="date" name="fecha_nacimiento" id="fecha_nacimiento" class="form-control" value="{{ fecha_nacimiento }}" required>
            </div>
        </div>

        <div class="row">
            <div class="col-md-6 select" id="equipoSelect">
                <label for="equipo" class="form-label">Equipo:</label>
                <select id="equipo" name="equipo" class="form-select">
                    {% for e in Equipos %}
                        <option value="{{ e.id }}">{{ e.nombre }}</option>
                    {% endfor %}
                </select>
            </div>

            <div class="col-md-6 select" id="tutorSelect">
                <label for="tutor" class="form-label">Tutor:</label>
                <select id="tutores" name="tutor" class="form-select">
                    {% for t in Tutores %}
                        <option value="{{ t.id }}">{{ t.nombre }} {{ t.apellidos }}</option>
                    {% endfor %}
                </select>
            </div>
            <div class="row">
                <div class="col-md-6 select" id="equiposSelect">
                    <label for="equipos" class="form-label">Equipos:</label>
                    <select id="equipos" name="equipos" class="form-select" multiple>
                        {% for e in Equipos %}
                            <option value="{{ e.id }}">{{ e.nombre }}</option>
                        {% endfor %}
                    </select>
                </div>
            </div>
        </div>

        <div class="row">
            <div class="col-12 text-center">
                <button type="submit" class="btn btn-primary mt-3">Submit</button>
            </div>
        </div>

    </form>

    <div class="row">
        <div class="col-12 text-center">
            <a href="{% url 'administrador' %}" role="button" class="btn btn-secondary mt-3">Volver</a>
        </div>
    </div>
</div>

    <script>
    $(document).ready(function() {
    var roleActions = {
        'Usuario': function() {
            $('#equipoSelect, #tutorSelect, #entrenadorSelect, #nombreField, #apellidosField, #equiposSelect').hide();
            $('#nombre, #apellidos').removeAttr('required');
        },
        'Entrenador': function() {
            $('#entrenadorSelect, #tutorSelect, #equipoSelect').hide();
            $('#nombreField, #apellidosField, #equiposSelect').show();
            $('#nombre, #apellidos').attr('required', true);
        },
        'Jugador': function() {
            $('#entrenadorSelect, #equiposSelect').hide();
            $('#equipoSelect, #tutorSelect, #nombreField, #apellidosField').show();
            $('#nombre, #apellidos').attr('required', true);
        },
        'Tutor': function() {
            $('#equipoSelect, #tutorSelect, #entrenadorSelect, #equiposSelect').hide();
            $('#nombreField, #apellidosField').show();
            $('#nombre, #apellidos').attr('required', true);
        }
    };

    $('#rol').change(function() {
        var selectedRol = $(this).val();
        if (roleActions[selectedRol]) {
            roleActions[selectedRol]();
        }
    });
});
    </script>

</body>

</html>