<!DOCTYPE html>
<html lang="es">
{% include "barra_admin.html" %}

<body>
<head>
    <title>Crear Partidos</title>
</head>

<div class="container">


    <h1 class="my-4">{% if modo_edicion %}Editar{% else %}Crear{% endif %} Partido</h1>

        {% if errores %}
        <div class="alert alert-danger">
            <ul>
                {% for error in errores %}
                    <li>{{ error }}</li>
                {% endfor %}
            </ul>
        </div>
        {% endif %}

    <form action="" method="post">

        {% csrf_token %}

        <div class="row">
            <div class="col-md-4">
                <label for="fecha" class="form-label">Fecha:</label>
                <input type="date" name="fecha" id="fecha" class="form-control" value="{{ partido.fecha|date:'Y-m-d'  }}" required>
            </div>
            <div class="col-md-4" id="nombreField">
                <label for="hora" class="form-label">Hora:</label>
                <input type="time" name="hora" id="hora" class="form-control" value="{{ partido.hora|time:'H:i' }} " required>
            </div>

        </div>
        <div class="row">
            <div class="col-md-4">
                <label for="lugar" class="form-label">Lugar:</label>
                <input type="text" name="lugar" id="lugar" maxlength="100" class="form-control" value="{{ partido.lugar }}">
            </div>
            <div class="col-md-4">
                <label for="puntos_equipo1" class="form-label">Puntos equipo 1:</label>
                <input type="number" name="puntos_equipo1" id="puntos_equipo1" class="form-control" value="{{ partido.puntos_equipo1 }}">
            </div>
            <div class="col-md-4">
                <label for="puntos_equipo2" class="form-label">Puntos equipo 2:</label>
                <input type="number" name="puntos_equipo2" id="puntos_equipo2" class="form-control" value="{{ partido.puntos_equipo2 }}">
            </div>
        </div>
        <div class="row">
            <div class="col-md-4">
                <label for="equipo_local" class="form-label">Equipo 1:</label>
                <select name="equipo_local" id="equipo_local" class="form-select">
                    {% for equipo in lista_equipos %}
                       <option value="{{ equipo.id }}" {% if partido.equipo1.id == equipo.id %} selected {% endif %}>{{ equipo.nombre }}</option>
                    {% endfor %}
                </select>
            </div>
            <div class="col-md-4">
                <label for="equipo_visitante" class="form-label">Equipo 2:</label>
                <select name="equipo_visitante" id="equipo_visitante" class="form-select">
                    {% for equipo in lista_equipos %}
                        <option value="{{ equipo.id }}" {% if partido.equipo2.id == equipo.id %} selected {% endif %}>{{ equipo.nombre }}</option>
                    {% endfor %}
                </select>
            </div>
        </div>
    <div class="row">
        <div class="col-md-4">
                <label for="jornada" class="form-label">Jornada:</label>
                <input type="number" name="jornada" id="jornada" class="form-control" value="{{ partido.jornada }}">
            </div>
        <div class="col-md-4">
            <label for="temporada" class="form-label">Temporada:</label>
            <select name="temporada" id="temporada" class="form-select">
                {% for temporada in temporadas %}
                    <option value="{{ temporada.id }}"{% if partido.temporada.id == temporada.id %} selected {% endif %}>{{ temporada.anyo }}</option>
                {% endfor %}
            </select>
        </div>     
    </div>
       <div class="row">
            <div class="col-12 text-center">
                <button type="submit" class="btn btn-primary mt-3">Submit</button>
            </div>
        </div>
    </form>

    <div class="row">
        <div class="col-12 text-center">
            <a href="{% url 'administrador' %}" role="button" class="btn btn-secondary mt-3">Volver</a>
        </div>
    </div>
</div>

<script>
    // Obtiene el elemento de entrada para 'puntos_equipo1'
    var input1=  document.getElementById('puntos_equipo1');
    // Agrega un evento de entrada al elemento
    input1.addEventListener('input',function(){
      // Si la longitud del valor es mayor a 3, corta el valor a los primeros 3 caracteres
      if (this.value.length > 3) 
         this.value = this.value.slice(0,3);
      // Si el valor es menor a 0, establece el valor a 0
      if (this.value < 0) {
                this.value = 0;
            }
    })

    // Repite el proceso para 'puntos_equipo2'
    var input2=  document.getElementById('puntos_equipo2');
    input2.addEventListener('input',function(){
      if (this.value.length > 3) 
         this.value = this.value.slice(0,3);
      if (this.value < 0) {
                this.value = 0;
            }
    })
</script>

</body>

</html>