<!DOCTYPE html>
<html lang="es">
{% include "barra_admin.html" %}

<body>
<head>
    <title>Crear Noticias</title>
</head>

<div class="container">


    <h1 class="my-4">{% if modo_edicion %}Editar{% else %}Crear{% endif %} Noticia</h1>

        {% if errores %}
        <div class="alert alert-danger">
            <ul>
                {% for error in errores %}
                    <li>{{ error }}</li>
                {% endfor %}
            </ul>
        </div>
        {% endif %}

    <form action="" method="post">

        {% csrf_token %}

        <div class="row">
            <div class="col-md-4">
                <label for="titulo" class="form-label">Titulo:</label>
                <input type="text" name="titulo" id="titulo" maxlength="100" class="form-control" value="{{ noticia.titulo }}" required>
            </div>
            <div class="col-md-4">
                <label for="url_imagen" class="form-label">Url_imagen:</label>
                <input type="text" name="url_imagen" id="url_imagen" class="form-control" value="{{ noticia.url_imagen }}">
            </div>

        </div>
        <div class="row">
            <div class="col-md-4">
                <label for="articulo" class="form-label">Artículo:</label>
                <textarea name="articulo" id="articulo" class="form-control" required>{{ noticia.articulo }}</textarea>
            </div>
            
        </div>
        
        <div class="row">
            <div class="col-12 text-center">
                <button type="submit" class="btn btn-primary mt-3">Submit</button>
            </div>
        </div>

    </form>

    <div class="row">
        <div class="col-12 text-center">
            <a href="{% url 'noticias_admin' %}" role="button" class="btn btn-secondary mt-3">Volver</a>
        </div>
    </div>

</div>

</body>

</html>