<!DOCTYPE html>
<html lang="es">
{% include 'barra_navegacion.html' %}
<head>
    <meta charset="UTF-8">
    <title>Pagina equipo</title>
    <style>
        .img-equipo {
            width: 100%; 
            height: auto;
            max-width: 10em;
            margin: auto; 
            display: block;
        }
        
        @media (max-width: 1000px) {
            
            .jornadas {
                width: 100% !important; 
            }
        }

        .nav-item .nav-link.active {
            background-color: #00653D !important; /* Cambia este valor al color que desees */
            color: #fff !important; /* Cambia este valor al color que desees */
        }

        .nav-item .nav-link {
            color: #00653D !important; /* Cambia este valor al color que desees */
        }

        .card {
            cursor: default !important;
        }
        
            @media (max-width: 768px) {
        .flex-container {
            height: auto !important;
            max-height: 300px !important;
        }
    }


    </style>
      <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <script src='https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.29.1/moment.min.js'></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/leaflet/1.7.1/leaflet.js"></script>

    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/leaflet/1.7.1/leaflet.css" />
</head>
<body>
<div class="container">

        <div class="row">
            <div class="col-sm-12 col-md-6">
                <div class="table-responsive mt-1">
                <table class="table border" id="tabla" >
                    <thead>
                    <tr>
                      <th scope="col">#</th>
                      <th scope="col">Nombre equipo</th>
                      <th scope="col">PG</th>
                      <th scope="col">PJ</th>
                      <th scope="col">Total puntos</th>

                    </tr>
                  </thead>
                  <tbody >
                  {% for e in clasificacion %}
                    <tr>
                        <td {% if e.nombre == jugador.equipo.nombre %} style="font-weight: 700" {% endif %} >{{ e.nombre}}</td>
                        <td>{{ e.partidos_ganados }}</td>
                      <td>{{ e.partidos_jugados }}</td>
                      <td>{{ e.diferencia_puntos }}</td>


                    </tr>
                  {% endfor %}
                  </tbody>
                </table>

            </div>
            </div>
            <div class="col-sm-12 col-md-6 border mt-1">
                <div class="row">
                    <ul class="nav nav-tabs d-flex " id="myTab" role="tablist">
                        <li class="nav-item flex-grow-1" role="presentation">
                            <button class="nav-link active w-100 py-4" id="proxPartido-tab" data-bs-toggle="tab"
                                    data-bs-target="#proxPartido" type="button" role="tab" aria-controls="proxPartido"
                                    aria-selected="true">Próximo partido
                            </button>
                        </li>
                        <li class="nav-item flex-grow-1" role="presentation">
                            <button class="nav-link w-100 py-4" id="convocatoria-tab" data-bs-toggle="tab"
                                    data-bs-target="#convocatoria"
                                    type="button" role="tab" aria-controls="convocatoria" aria-selected="false">Convocatoria
                            </button>
                        </li>
                        <li class="nav-item flex-grow-1" role="presentation">
                            <button class="nav-link w-100 py-4" id="proxEntrenamiento-tab" data-bs-toggle="tab"
                                    data-bs-target="#proxEntrenamiento"
                                    type="button" role="tab" aria-controls="proxEntrenamiento" aria-selected="false">Próximo Entrenamiento
                            </button>
                        </li>
                    </ul>
                    <div class="tab-content" id="myTabContent">
                        <div class="tab-pane fade show active " id="proxPartido" role="tabpanel"
                             aria-labelledby="proxPartido-tab">
                            <div class="col col-12">
                                <h2 class="text-center">Proximo partido</h2>
                                <div class="row align-items-center border mx-1">
                                    <div class="col-4">
                                        <img src="{{ siguiente_partido.equipo1.escudo }}" alt=""
                                             class="img-fluid img-equipo">
                                    </div>
                                    <div class="col-4 text-center">
                                        <p><b>Jornada {{ siguiente_partido.jornada }}</b></p>
                                        <p>{{ siguiente_partido.fecha|date:'d-m-Y' }}</p>
                                        <p>{{ siguiente_partido.hora }}</p>
                                    </div>
                                    <div class="col-4">
                                        <img src="{{ siguiente_partido.equipo2.escudo }}" alt=""
                                             class="img-fluid img-equipo">
                                    </div>
                                </div>
                                <h3 class="text-center">Lugar</h3>
                                {% if mapa_fallo %}
                                    <p class="text-center">{{ siguiente_partido.lugar }}</p>
                                {% else %}
                                    <div class="container w-50" id="map" style="height: 180px;"></div>
                                {% endif %}
                            </div>

                        </div>

                        <div class="tab-pane fade" id="convocatoria" role="tabpanel" aria-labelledby="convocatoria-tab">
                            <div class="flex-container" style="height: 25vh;max-height: 150px">
                            <form action="" method="post" class="w-100 h-100">
                                {% csrf_token %}
                            <div class="container-fluid d-flex justify-content-center">
                                <label for="entrenadores" class="form-label h3">Lista de jugadores para convocar</label>
                            </div>
                                <select name="jugadores" id="jugadores" class="form-select h-100" multiple>
                                    {% for j in jugadores %}
                                        <option value="{{ j.id }}"{% if j.id in convocatoria %}
                                                selected {% endif %}>{{ j }}</option>
                                    {% endfor %}
                                </select>
                            <div class="container-fluid d-flex justify-content-center">
                                <button type="submit" class="btn btn-primary mt-3 mb-3 mb-md-0">Guardar</button>
                                </div>
                            </form>
                            </div>
                        </div>
                        <div class="tab-pane fade" id="proxEntrenamiento" role="tabpanel" aria-labelledby="proxEntrenamiento-tab">
                            <div class="row row-cols-1 row-cols-lg-2 pt-5">
                            <div class="container text-center mt-3">
                                <h3>Próximo Entrenamiento</h3>
                                {% if entrenamiento %}
                                    <p>{{ entrenamiento.fecha|date:'d-m-Y' }}</p>
                                    <p>{{ entrenamiento.hora }}</p>
                                    <p><b>{{ entrenamiento.lugarEntrenamiento.nombre }}</b></p>
                                {% else %}
                                    <p>No hay entrenamientos próximos</p>
                                {% endif %}
                            </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        <div class="container d-flex justify-content-center w-100 mt-3">
        <div class="row row-cols-1 row-cols-md-2 w-75 jornadas border mb-3">
            <div class="col">
                <div class="text-center">
                    <h2>Partidos anteriores</h2>
                    {% if partidos_anteriores|length == 0 %}
                        <p>No hay partidos anteriores</p>
                    {% endif %}
                    <ul class="list-group list-group-flush border mb-3">
                        {% for p in partidos_anteriores %}
                            <li class="list-group-item">
                                <div class="row align-items-center">
                                    <div class="col-4">
                                        <img src="{{ p.equipo1.escudo }}" alt="" class="img-fluid img-equipo">
                                    </div>
                                    <div class="col-4">
                                        <p><b>Jornada {{ p.jornada }}</b></p>
                                        <p>{{ p.puntos_equipo1 }} - {{ p.puntos_equipo2 }}</p>
                                    </div>
                                    <div class="col-4">
                                        <img src="{{ p.equipo2.escudo }}" alt="" class="img-fluid img-equipo">
                                    </div>
                                </div>
                            </li>
                        {% endfor %}
                    </ul>
                </div>
            </div>
            <div class="col">
                <div class="text-center">
                    <h2>Proximos partidos</h2>
                    <ul class="list-group list-group-flush border mb-3">
                        {% for p in partidos_futuros %}
                            <li class="list-group-item">
                                <div class="row align-items-center">
                                    <div class="col-4">
                                        <img src="{{ p.equipo1.escudo }}" alt="" class="img-fluid img-equipo">
                                    </div>
                                    <div class="col-4">
                                        <p><b>Jornada {{ p.jornada }}</b></p>
                                        <p>{{ p.fecha|date:'d-m-Y' }}</p>
                                        <p>{{ p.hora }}</p>
                                    </div>
                                    <div class="col-4">
                                        <img src="{{ p.equipo2.escudo }}" alt="" class="img-fluid img-equipo">
                                    </div>
                                </div>
                            </li>
                        {% endfor %}
                    </ul>
                </div>
            </div>
        </div>
        </div>
        </div>
</div>

<script>
    function agregarNumerosLinea() {
        // Obtiene la tabla por su ID
        var tabla = document.getElementById("tabla");
        // Obtiene todas las filas de la tabla
        var filas = tabla.getElementsByTagName("tr");

        // Itera sobre cada fila, comenzando desde la segunda (índice 1)
        for (var i = 1; i < filas.length; i++) {
            // Crea una nueva celda
            var celdaNumeroLinea = document.createElement("td");
            // Asigna el número de línea a la celda (comienza desde 1)
            celdaNumeroLinea.textContent = i;
            // Inserta la celda al inicio de la fila
            filas[i].insertBefore(celdaNumeroLinea, filas[i].firstChild);
        }
    }

    // Llama a la función agregarNumerosLinea cuando se carga la página
    window.onload = agregarNumerosLinea;
</script>
<script>
    // Obtiene las coordenadas de latitud y longitud desde el contexto de Django
    var lat = {{ lat }};
    var lon = {{ lon }};

    // Inicializa el mapa de Leaflet y lo centra en las coordenadas obtenidas
    var map = L.map('map').setView([lat, lon], 15);

    // Agrega una capa de imágenes de OpenStreetMap al mapa
    L.tileLayer('https://{s}.tile.openstreetmap.org/{z}/{x}/{y}.png', {
        attribution: '&copy; <a href="https://www.openstreetmap.org/copyright">OpenStreetMap</a> contributors'
    }).addTo(map);

    // Agrega un marcador al mapa en las coordenadas obtenidas
    L.marker([lat, lon]).addTo(map)
        // Asigna un popup al marcador con la información del lugar del próximo partido
        .bindPopup('<b>{{ siguiente_partido.lugar }}</b>')
        // Abre el popup
        .openPopup();
</script>
</body>
{% include 'footer.html' %}
</html>

            
