{% load static %}
{% include 'barra_navegacion.html' %}
<head>
    <title>Lista Estadisticas jugador</title>
    <style>
    .btn-custom {
        color: #00653d; /* Color del texto azul */
    }
    .table-responsive {
        max-height: 400px; /* Ajusta la altura máxima según sea necesario */
        overflow-y: auto; /* Agrega un scroll vertical */
    }
    </style>

</head>
<div class="container-fluid d-flex flex-column align-items-center">
    <div class="container w-75 d-flex justify-content-start ">
        <h1>Lista de estadísticas jugadores:</h1>
    </div>
    <div class="container w-75 d-flex justify-content-between align-items-center ">
        <a class="btn btn-outline-success btn-custom" role="button" href="{% url 'crear_estadisticas_jugador' %}" >Crear estadística</a>

        <div class="input-group w-25 h-50 ">
          <input type="text" class="form-control" placeholder="Buscar" aria-label="Buscar" aria-describedby="button-addon2" style="background-color: #00653d; color: white;" id="inputBuscar">
          <button class="btn btn-outline-secondary" type="button" id="button-addon2" style="background-color: #00653d; color: white; ">
              <img src="{% static 'imagenes/icons8-búsqueda-30.png' %}">
          </button>
        </div>
    </div>
    <div class="container w-75 m-4 ">
        <div class="table-responsive">
            <table class="table" id="tabla">
                <thead>
                <tr>
                  <th scope="col">Jornada</th>
                  <th scope="col">Jugador</th>
                  <th scope="col">Minutos</th>
                  <th scope="col">Puntos</th>
                  <th scope="col">Asistencias</th>
                  <th scope="col">Rebotes</th>
                  <th scope="col">Faltas</th>
                  <th scope="col">Partido</th>

                </tr>
              </thead>
              <tbody >
              {% for ej in estadisticas_jugador %}
                <tr>
                  <th scope="row">{{ ej.partido.jornada }}</th>
                  <td>{{ ej.jugador }}</td>
                  <td>{{ ej.minutos }}</td>
                  <td>{{ ej.puntos }}</td>
                  <td>{{ ej.asistencias    }}</td>
                  <td>{{ ej.rebotes}}</td>
                  <td>{{ ej.faltas}}</td>
                  <td>{{ ej.partido.equipo1}} vs {{ lej.partido.equipo2}}</td>
                </tr>
              {% endfor %}
              </tbody>
            </table>
        </div>
    </div>
</div>