{% load static %}
{% include 'barra_navegacion.html' %}
<head>
    <title>Lista Estadisticas jugador</title>
    <link rel="stylesheet" href="{% static 'css/tabla.css' %}">
    <style>
    .btn-custom {
        color: #00653d; /* Color del texto azul */
    }
    .table-responsive {
        max-height: 400px; /* Ajusta la altura máxima según sea necesario */
        overflow-y: auto; /* Agrega un scroll vertical */
    }

    </style>

</head>
<body>
<div id="demo">
  <div class=" shadow-z-1">
  <table id="table" class="table table-hover table-responsive">
      <thead>
        <tr>
          <th scope="col">Jornada</th>
            <th scope="col">Minutos</th>
            <th scope="col">Puntos</th>
            <th scope="col">Asistencias</th>
            <th scope="col">Rebotes</th>
            <th scope="col">Faltas</th>
            <th scope="col">Partido</th>
        </tr>
      </thead>
      <tbody>
        {% for ej in estadisticas_jugador %}
                <tr>
                  <th scope="row">{{ ej.partido.jornada }}</th>
                  <td>{{ ej.minutos }}</td>
                  <td>{{ ej.puntos }}</td>
                  <td>{{ ej.asistencias    }}</td>
                  <td>{{ ej.rebotes}}</td>
                  <td>{{ ej.faltas}}</td>
                  <td>{{ ej.partido.equipo1}} vs {{ ej.partido.equipo2}}</td>
                </tr>
        {% endfor %}
      </tbody>
    </table>
  </div>

</div>
</body>
