{% load static %}
{% load bootstrap5 %}
<head>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.3/font/bootstrap-icons.min.css">
</head>

<style>
    body{
        position: relative;
        min-height: 100vh;
        padding-bottom: 7.5em;
    }
    footer{
        position: absolute;
        bottom: 0;
        width: 100%;
    }

</style>
<!-- Footer -->
<footer
        class="footer text-center text-lg-center text-white mt-3"
        style="background-color: #00653D !IMPORTANT;"
>
    <!-- Grid container -->
    <div class="container p-0 pb-2 mb-0 ">
        <!-- Section: Links -->
        <section class="">
            <!--Grid row-->
            <div class="row w-100">
                <!-- Terminos y servicios -->
                <div class="d-none d-sm-block col-md-3 col-lg-3 col-xl-3 mx-auto mt-3">
                    <h6 class="d-none d-md-block text-uppercase mb-4 font-weight-bold">
                        TERMINOS Y SERVICIOS
                    </h6>
                    <a class="link text-white px-2" href="{% url 'terminos_y_servicios' %}">Términos y servicios SafaClub</a>
                </div>


                <!-- Redes sociales -->
                <div class="col-md-4 col-lg-4 col-xl-4 mx-auto mt-3">
                    <h6 class="d-none d-md-block text-uppercase mb-4 font-weight-bold">REDES SOCIALES</h6>

                    <!-- Facebook -->
                    <a
                            class="btn btn-primary btn-floating m-1"
                            style="background-color: #3b5998; border-color: #00653d"
                            href="https://www.facebook.com/"
                            role="button"
                    ><i class="bi bi-facebook"></i>
                    </a>

                    <!-- Twitter -->
                    <a
                            class="btn btn-primary btn-floating m-1"
                            style="background-color: #55acee; border-color: #00653d"
                            href="https://twitter.com/"
                            role="button"
                    ><i class="bi bi-twitter"></i>
                    </a>
                    <!-- Instagram -->
                    <a
                            class="btn btn-primary btn-floating m-1"
                            style="background-color: #ac2bac; border-color: #00653d"
                            href="https://www.instagram.com/"
                            role="button"
                    ><i class="bi bi-instagram"></i>
                    </a>
                    <!-- Tiktok -->
                    <a
                            class="btn btn-primary btn-floating m-1"
                            style="background-color: #333333; border-color: #00653d"
                            href="https://www.tiktok.com/"
                            role="button"
                    ><i class="bi bi-tiktok"></i>
                    </a>
                </div>

                <!-- Información de contacto -->
                <div class="col-md-3 col-lg-3 col-xl-3 mx-auto mt-3">
                    <h6 class="d-none d-md-block text-uppercase mb-4 font-weight-bold">CONTACTANOS</h6>
                    <a class="link text-white px-2" href={% url 'contacto' %}>Enlace de Contacto</a>
                </div>
            </div>
        </section>
    </div>

</footer>