{% load static %}
<!DOCTYPE html>
<html lang="en">
{% include "barra_navegacion.html" %}
<head>
    <title>Pagina de Tarifas</title>
    <link rel="stylesheet" href="{% static 'css/tarifas.css' %}">
    <style>
        
        .card.selected {
            border: 2px solid #006b1b;
        }
        
        
    </style>
</head>



<body>

<form action="" method="post">

        {% csrf_token %}

<div class="container tarifa mt-5">
    <div class="row row-tarifa flex-items-xs-middle flex-items-xs-center">
        <div class="col-xs-12 col-lg-4">
            <div class="card text-center" onclick="selectTarifa('Basic')">
                <div class="card-header">
                    <h3 class="display-2"><span class="currency">€</span>15<span class="period">/mes</span></h3>
                </div>
                <div class="card-block">
                    <h4 class="card-title">
                        Plan Basic
                    </h4>
                    <ul class="list-group">
                        <li class="list-group-item">Acceso para 1 jugador</li>
                        <li class="list-group-item">Descuento 5% en tienda</li>
                        <li class="list-group-item">Acceso a resultados del equipo</li>
                        <li class="list-group-item">...</li>
                    </ul>
                </div>
            </div>
        </div>
        <div class="col-xs-12 col-lg-4">
            <div class="card text-center" onclick="selectTarifa('Plus')">
                <div class="card-header">
                    <h3 class="display-2"><span class="currency">€</span>25<span class="period">/mes</span></h3>
                </div>
                <div class="card-block">
                    <h4 class="card-title">
                        Plan Plus
                    </h4>
                    <ul class="list-group">
                        <li class="list-group-item">Acceso para 3 jugadores</li>
                        <li class="list-group-item">Descuento 5% en tienda</li>
                        <li class="list-group-item">Acceso a resultados del equipo</li>
                        <li class="list-group-item">Carnet de socio</li>
                    </ul>
                </div>
            </div>
        </div>
        
        <div class="col-xs-12 col-lg-4">
            <div class="card text-center" onclick="selectTarifa('Premium')">
                <div class="card-header">
                    <h3 class="display-2"><span class="currency">$</span>35<span class="period">/mes</span></h3>
                </div>
                <div class="card-block">
                    <h4 class="card-title">
                        Plan Premium
                    </h4>
                    <ul class="list-group">
                        <li class="list-group-item">Acceso para 5 jugadores</li>
                        <li class="list-group-item">Descuento 10% en tienda</li>
                        <li class="list-group-item">Acceso a resultados del equipo</li>
                        <li class="list-group-item">3 Carnets de socio</li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</div>
    
<div class="row d-flex justify-content-center">
     <div class="col-md-4" id="nombreField">
            <label for="nombre" class="form-label">Nombre:</label>
            <input type="text" name="nombre" maxlength="20" id="nombre" class="form-control">
        </div>
        <div class="col-md-4" id="apellidosField">
            <label for="apellidos" class="form-label">Apellidos:</label>
            <input type="text" name="apellidos" maxlength="50" id="apellidos" class="form-control">
        </div>
</div>

    
<input type="hidden" id="tarifa_seleccionada" name="tarifa_seleccionada">    

<div class="row mb-3">
    <div class="col-12 text-center">
        <button type="submit" class="btn btn-primary mt-3" >Submit</button>
    </div>
</div>
    

    
</form>

<script>
    // Función para seleccionar una tarifa y resaltar el card seleccionado
    function selectTarifa(tarifa) {
        // Remover la clase 'selected' de todos los cards
        const cards = document.querySelectorAll('.card');
        cards.forEach(card => {
            card.classList.remove('selected');
        });
        // Agregar la clase 'selected' al card seleccionado
        const cardsArray = Array.from(cards);
        const selectedCard = cardsArray.filter(card => card.textContent.includes(tarifa))[0];
        selectedCard.classList.add('selected');
        // Actualizar el valor del campo oculto con la tarifa seleccionada
        document.getElementById('tarifa_seleccionada').value = tarifa;
    }
</script>

</body>
{% include 'footer.html' %}
</html>
