{% load static %}
{% include 'barra_admin.html' %}
<head>
    <title>Lista Productos</title>
    <style>
    .btn-custom {
        color: #00653d; /* Color del texto azul */
    }
    .table-responsive {
        max-height: 400px; /* Ajusta la altura máxima según sea necesario */
        overflow-y: auto; /* Agrega un scroll vertical */
    }
    </style>

</head>
<div class="container-fluid d-flex flex-column align-items-center">
    <div class="container w-75 d-flex justify-content-start ">
        <h1>Lista de Productos</h1>
    </div>
    <div class="container w-75 d-flex justify-content-between align-items-center ">
        <div class="container">
        <a class="btn btn-outline-success btn-custom" role="button" href="{% url 'crear_producto' %}" >Nuevo Producto</a>
        <a class="btn btn-outline-success btn-custom" role="button" href="{% url 'crear_tallaje' %}" >Nueva Talla</a>
        </div>

        <div class="input-group w-25 h-50 ">
          <input type="text" class="form-control" placeholder="Buscar" aria-label="Buscar" aria-describedby="button-addon2" style="background-color: #00653d; color: white;" id="inputBuscar">
          <button class="btn btn-outline-secondary" type="button" id="button-addon2" style="background-color: #00653d; color: white; ">
              <img src="{% static 'imagenes/icons8-búsqueda-30.png' %}">
          </button>
        </div>
    </div>
    <div class="container w-75 m-5 ">
        <div class="table-responsive">
            <table class="table" id="tabla">
                <thead>
                <tr>
                  <th scope="col">Id</th>
                   <th scope="col">Nombre</th>
                  <th scope="col">Precio</th>
                  <th scope="col">Stock</th>
                  <th scope="col">Talla</th>
                    <th scope="col">Tipo</th>

                  <th></th>
                </tr>
              </thead>
              <tbody >
              {% for p in lista_productos %}
                <tr>
                  <th scope="row">{{ p.id }}</th>
                  <td>{{ p.producto.nombre }}</td>
                  <td>{{ p.producto.precio }}</td>
                  <td>{{ p.stock }}</td>
                    <td>{{ p.talla.nombre }}</td>
                    <td>{{ p.producto.tipo.nombre }}</td>
                    <td>
                        <a href="{% url 'edita_producto' id=p.id  %}"> <img src="{% static 'imagenes/icons8-edit-30.png' %}"></a>
                        <a href="{% url 'elimina_producto' id=p.id  %}" onclick="confirmarEliminarUsuario(event)"><img src="{% static 'imagenes/icons8-basura-30.png' %}"></a>                    </td>
                </tr>
              {% endfor %}
              </tbody>
            </table>
        </div>
    </div>
</div>
<div class="toast-container position-fixed bottom-0 end-0 p-3" style="z-index: 11">
    <div id="toastNotification" class="toast" role="alert" aria-live="assertive" aria-atomic="true" style="background-color: #f8d7da;">
        <div class="toast-header">
            <i class="fa-solid fa-truck" style="color: #63E6BE;"></i>
            <strong class="me-auto" style="color: #721c24;">Aviso de stock</strong>
            <button type="button" class="btn-close" data-bs-dismiss="toast" aria-label="Close"></button>
        </div>
        <div class="toast-body" style="color: #721c24;">
            Hay productos con bajo stock. Por favor, revisa el inventario.
        </div>
    </div>
</div>
<script>
    // Añade un evento que se dispara cuando el contenido del documento ha sido completamente cargado y parseado
    document.addEventListener('DOMContentLoaded', (event) => {
        // Verifica si hay productos con bajo stock
        // que verifica si la variable 'productos_bajo_stock' es verdadera
        {% if productos_bajo_stock %}
            // Si hay productos con bajo stock, obtiene el elemento del DOM con el ID 'toastNotification'
            var toastEl = document.getElementById('toastNotification');
            // Crea un nuevo objeto Toast de Bootstrap con el elemento obtenido
            var toast = new bootstrap.Toast(toastEl);
            // Muestra el toast
            toast.show();
        {% endif %}
    });
</script>