{% load static %}
{% include 'barra_navegacion.html' %}
<head>
    <title>Lista Hijos</title>
    <style>
    .btn-custom {
        color: #00653d; /* Color del texto azul */
    }
    .table-responsive {
        max-height: 400px; /* Ajusta la altura máxima según sea necesario */
        overflow-y: auto; /* Agrega un scroll vertical */
    }
    </style>
    
</head>
<div class="container-fluid d-flex flex-column align-items-center">
    <div class="container w-75 d-flex justify-content-start ">
        <h1>Lista Jugadores:</h1>
    </div>
    <div class="container w-75 d-flex justify-content-between align-items-center ">
        <a class="btn btn-outline-success btn-custom" role="button" href="{% url 'crear_hijo' %}" >Registrar Jugador</a>

        <div class="input-group w-25 h-50 ">
          <input type="text" class="form-control" placeholder="Buscar" aria-label="Buscar" aria-describedby="button-addon2" style="background-color: #00653d; color: white;" id="inputBuscar">
          <button class="btn btn-outline-secondary" type="button" id="button-addon2" style="background-color: #00653d; color: white; ">
              <img src="{% static 'icons8-búsqueda-30.png' %}">
          </button>
        </div>
    </div>
    <div class="container w-75 m-4 ">
        <div class="table-responsive">
            <table class="table" id="tabla">
                <thead>
                <tr>
                    <th scope="col">Usuario</th>
                   <th scope="col">Nombre</th>
                  <th scope="col">Apellidos</th>
                  <th scope="col">Equipo</th>
                    <th scope="col">Categoria</th>
                  <th></th>
                </tr>
              </thead>
              <tbody >
              {% for h in hijos %}
                <tr>
                    <th scope="row">{{ h.usuario.username }}</th>
                  <td>{{ h.nombre }}</td>
                    <td>{{ h.apellidos }}</td>
                    <td>{{ h.equipo.nombre }}</td>
                    <td>{{ h.equipo.categoria }}</td>
                    <td>
                        <a href="{% url 'edita_hijo' id=h.id %}"> <img src="{% static 'icons8-edit-30.png' %}"></a>
                        <a href="{% url 'elimina_hijo' id=h.id %}" onclick="confirmarEliminarUsuario(event)"><img src="{% static 'icons8-basura-30.png' %}"></a>                    </td>
                </tr>
              {% endfor %}
              </tbody>
            </table>
        </div>
    </div>
</div>