<!DOCTYPE html>
<html lang="es">
{% include "barra_navegacion.html" %}
<head>
    <meta charset="UTF-8">
    <title>Formulario pago</title>
</head>
<body>
<div class="container">
    
     <form novalidate="" method="post" action="{% url 'pago_inscripciones' %}">
                
                {% csrf_token %}
    
        <div class="col-md-8 order-md-1">
                <hr class="mb-4">
                <h4 class="mb-3">Pago</h4>
                <div class="d-block my-3">
                    <div class="control custom-radio">
                        <input id="credit" name="paymentMethod" type="radio" class="control-input" checked=""
                               required="">
                        <label class="control-label" for="credit">Tarjeta de crédito</label>
                    </div>
                    <div class="control custom-radio">
                        <input id="debit" name="paymentMethod" type="radio" class="control-input" required="">
                        <label class="control-label" for="debit">Tarjeta de débito</label>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-6 mb-3">
                        <label for="cc-name">Nombre en la tarjeta</label>
                        <input type="text" class="form-control" id="cc-name" placeholder="" required="">
                        <small class="text-muted">Nombre completo como se muestra en la tarjeta</small>
                        <div class="invalid-feedback">
                            Nombre requerido
                        </div>
                    </div>
                    <div class="col-md-6 mb-3">
                        <label for="cc-number">Número de Tarjeta de Crédito</label>
                        <input type="text" class="form-control" id="cc-number" placeholder="" required="">
                        <div class="invalid-feedback">
                            Número de tarjeta requerido
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-3 mb-3">
                        <label for="cc-expiration">Vencimiento</label>
                        <input type="text" class="form-control" id="cc-expiration" placeholder="" required="">
                        <div class="invalid-feedback">
                            Fecha de vencimiento requerida
                        </div>
                    </div>
                    <div class="col-md-3 mb-3">
                        <label for="cc-cvv">CVV</label>
                        <input type="text" class="form-control" id="cc-cvv" placeholder="" required="">
                        <div class="invalid-feedback">
                            CVV requerido
                        </div>
                    </div>
                </div>
                <hr class="mb-4">
                <button class="btn btn-primary btn-lg btn-block" type="submit" id="showToastButtonInscripcion">Continuar a la comprobación</button>
            </div>
            </form>
        </div>
<script>
        document.getElementById('showToastButtonInscripcion').addEventListener('click', function() {
            // Guardar indicador en sessionStorage
            sessionStorage.setItem('showToastInscripcion', 'true');
            // Redirigir a la Página 2
            window.location.href = 'inicio_usuario_tutor.html';
        });
    </script>
</body>

{% include "footer.html" %}
</html>