{% load static %}
{% include 'barra_admin.html' %}
<head>
    <style>
    .btn-custom {
        color: #00653d; /* Color del texto azul */
    }
    .table-responsive {
        max-height: 400px; /* Ajusta la altura máxima según sea necesario */
        overflow-y: auto; /* Agrega un scroll vertical */
    }
    </style>

</head>
<div class="container-fluid d-flex flex-column align-items-center">
    <div class="container w-75 d-flex justify-content-start ">
        <h1>Lista de Partidos:</h1>
    </div>
    <div class="container w-75 d-flex justify-content-between align-items-center ">
        <a class="btn btn-outline-success btn-custom" role="button" href="{% url 'crear_entrenamiento' %}" >Nuevo partido:</a>

        <div class="input-group w-25 h-50 ">
          <input type="text" class="form-control" placeholder="Buscar" aria-label="Buscar" aria-describedby="button-addon2" style="background-color: #00653d; color: white;">
          <button class="btn btn-outline-secondary" type="button" id="button-addon2" style="background-color: #00653d; color: white; ">
              <img src="{% static 'icons8-búsqueda-30.png' %}">
          </button>
        </div>
    </div>
    <div class="container w-75 m-4 ">
        <div class="table-responsive" >
            <table class="table">
                <thead>
                <tr>
                  <th scope="col">id</th>
                   <th scope="col">Fecha</th>
                  <th scope="col">Hora</th>
                  <th scope="col">Lugar</th>
                 <th scope="col">Puntos Local</th>
                 <th scope="col">Puntos Visitante</th>
                 <th scope="col">Equipo Local</th>
                 <th scope="col">Equipo Visitante</th>
                 <th scope="col">Temporada</th>
                  <th></th>
                </tr>
              </thead>
              <tbody >
              {% for p in lista_partidos %}
                <tr>
                  <th scope="row">{{ p.id }}</th>
                  <td>{{ p.fecha }}</td>
                  <td>{{ p.hora }}</td>
                  <td>{{ p.lugar }}</td>
                  <td>{{ p.puntos_equipo1 }}</td>
                  <td>{{ p.puntos_equipo2 }}</td>
                  <td>{{ p.equipo1.nombre }}</td>
                  <td>{{ p.equipo2.nombre }}</td>
                  <td>{{ p.temporada.anyo }}</td>
                    <td>
                        <a href="{% url 'editar_partido' id=p.id %}"> <img src="{% static 'icons8-edit-30.png' %}"></a>
                        <a href="{% url 'elimina_partido' id=p.id %}" onclick="confirmarEliminarUsuario(event)"><img src="{% static 'icons8-basura-30.png' %}"></a>                    </td>
                </tr>
              {% endfor %}
              </tbody>
            </table>
        </div>
    </div>
</div>


