

<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <title>Perfil</title>
    <link rel="stylesheet" href="https://unpkg.com/bootstrap@5.3.2/dist/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.2/font/bootstrap-icons.min.css">
</head>


<style>
    .text-bg-primary {
        background-color: #00653D !important; /* Cambia este valor al color que desees */
    }
    .btn-primary {
        {#background-color: #00653D !important; /* Cambia este valor al color que desees */#}
        border-color: #00653D !important; /* Cambia este valor al color que desees */
    }
    .nav-item .nav-link.active {
        background-color: #00653D !important; /* Cambia este valor al color que desees */
        color: #fff !important; /* Cambia este valor al color que desees */
    }
    .nav-item .nav-link {
        color: #00653D !important; /* Cambia este valor al color que desees */
    }
    label {
    padding-top: 0px !important;
    }
    #profileImage {
        width: 300px !important;
        height: 300px !important;
        object-fit: cover   !important;
    }
    #uploadButton {
        cursor: pointer;
    }
</style>
<body>
{% include "barra_navegacion.html" with hijos=data.hijos equipos_entrenador=data.equipos_entrenador %}

<!-- Profile 1 - Bootstrap Brain Component -->
<section class="bg-light py-3 py-md-5 py-xl-8">


  <div class="container">
    <div class="row gy-4 gy-lg-0">
      <div class="col-12 col-lg-4 col-xl-3">
        <div class="row gy-4">
          <div class="col-12">
            <div class="card widget-card border-light shadow-sm h-100">
              <div class="card-header text-bg-primary">Bienvenido {{ perfil.usuario.username }}</div>
              <div class="card-body">
                <div class="text-center mb-3">
                    <img id="profileImage" src={{ usuario.foto.url }} class="img-fluid rounded-circle
                    alt="INTRODUCE FOTO">
                </div>
                  <h5 class="text-center mb-1">{{perfil.nombre}} {{ perfil.apellidos }}</h5>


              </div>
            </div>
          </div>



        </div>
      </div>
      <div class="col-12 col-lg-8 col-xl-9">
        <div class="card widget-card border-light shadow-sm h-100">
          <div class="card-body p-4">
            <ul class="nav nav-tabs" id="profileTab" role="tablist">

                <li class="nav-item" role="presentation">
                    <button class="nav-link {% if not error_en_cambio_de_contraseña %}active{% endif %}" id="overview-tab" data-bs-toggle="tab" data-bs-target="#overview-tab-pane" type="button" role="tab" aria-controls="overview-tab-pane" aria-selected="true">General</button>
                </li>

                {% if perfil.usuario.rol == 'Tutor' or perfil.usuario.rol == 'Jugador' or perfil.usuario.rol == 'Entrenador' %}
                <li class="nav-item" role="presentation">
                    <button class="nav-link" id="profile-tab" data-bs-toggle="tab" data-bs-target="#profile-tab-pane" type="button" role="tab" aria-controls="profile-tab-pane" aria-selected="false">Cambiar Perfil</button>
                </li>
                {% endif %}
                {% if perfil.usuario.rol == 'Tutor' or perfil.usuario.rol == 'Jugador' or perfil.usuario.rol == 'Entrenador' %}
                <li class="nav-item" role="presentation">
                    <button class="nav-link" id="email-tab" data-bs-toggle="tab" data-bs-target="#email-tab-pane" type="button" role="tab" aria-controls="email-tab-pane" aria-selected="false">Notificaciones</button>
                </li>
                {% endif %}
                <li class="nav-item" role="presentation">
                    <button class="nav-link {% if error_en_cambio_de_contraseña %}active{% endif %}" id="password-tab" data-bs-toggle="tab" data-bs-target="#password-tab-pane" type="button" role="tab" aria-controls="password-tab-pane" aria-selected="false">Contraseña</button>
                </li>
                {% if perfil.usuario.rol == 'Tutor' or perfil.usuario.rol == 'Entrenador' or usuario.rol == 'Usuario'%}
                <li class="nav-item" role="presentation">
                    <button class="nav-link" id="pedidos-tab" data-bs-toggle="tab" data-bs-target="#pedidos-tab-pane" type="button" role="tab" aria-controls="pedidos-tab-pane" aria-selected="false">Pedidos</button>
                </li>
                {% endif %}
                {% if perfil.usuario.rol == 'Tutor' or perfil.usuario.rol == 'Entrenador' or usuario.rol == 'Usuario'%}
                <li class="nav-item" role="presentation">
    <button class="nav-link" id="reclamaciones-tab" data-bs-toggle="tab" data-bs-target="#reclamaciones-tab-pane" type="button" role="tab" aria-controls="reclamaciones-tab-pane" aria-selected="false">Reclamaciones</button>
</li>
                {% endif %}
            </ul>
            <div class="tab-content pt-4 h-100" id="profileTabContent">
              <div class="tab-pane fade show active h-100" id="overview-tab-pane" role="tabpanel" aria-labelledby="overview-tab" tabindex="0">
                <h5 class="mb-3">Perfil</h5>
                {% if perfil.usuario.rol == 'Tutor' or perfil.usuario.rol == 'Jugador' or perfil.usuario.rol == 'Entrenador' %}
                <div class="row g-0">
                    <div class="col-5 col-md-3 bg-light border-bottom border-white border-3">
                    <div class="p-2">Username</div>
                    </div>
                    <div class="col-7 col-md-9 bg-light border-start border-bottom border-white border-3">
                        <div class="p-2">{{ perfil.usuario.username }}</div>
                    </div>
                    <div class="col-5 col-md-3 bg-light border-bottom border-white border-3">
                        <div class="p-2">Nombre</div>
                    </div>
                    <div class="col-7 col-md-9 bg-light border-start border-bottom border-white border-3">
                        <div class="p-2">{{ perfil.nombre }}</div>
                    </div>
                    <div class="col-5 col-md-3 bg-light border-bottom border-white border-3">
                        <div class="p-2">Apellidos</div>
                    </div>
                    <div class="col-7 col-md-9 bg-light border-start border-bottom border-white border-3">
                        <div class="p-2">{{ perfil.apellidos }}</div>
                    </div>
                    <div class="col-5 col-md-3 bg-light border-bottom border-white border-3">
                        <div class="p-2">Fecha de Nacimiento</div>
                    </div>
                    <div class="col-7 col-md-9 bg-light border-start border-bottom border-white border-3">
                        <div class="p-2">{{ perfil.usuario.fecha_nacimiento }}</div>
                    </div>
                    <div class="col-5 col-md-3 bg-light border-bottom border-white border-3">
                        <div class="p-2">Email</div>
                    </div>
                    <div class="col-7 col-md-9 bg-light border-start border-bottom border-white border-3">
                        <div class="p-2">{{ perfil.usuario.email }}</div>
                    </div>

                    {% if perfil.usuario.rol == 'Tutor' %}
                    <div class="col-5 col-md-3 bg-light border-bottom border-white border-3">
                        <div class="p-2">Tarifa</div>
                    </div>
                    <div class="col-7 col-md-9 bg-light border-start border-bottom border-white border-3">
                        <div class="p-2">{{ perfil.tarifa.capitalize }}</div>
                    </div>
                    <div class="col-5 col-md-3 bg-light border-bottom border-white border-3">
                        <div class="p-2">Suscripcion</div>
                    </div>
                    <div class="col-7 col-md-9 bg-light border-start border-bottom border-white border-3">
                        <div class="p-2">{% if perfil.es_activo == 1 %}Activo{% else %}Inactivo{% endif %}</div>
                    </div>
                {% elif perfil.usuario.rol == 'Jugador' %}
                    <div class="col-5 col-md-3 bg-light border-bottom border-white border-3">
                        <div class="p-2">Suscripcion</div>
                    </div>
                    <div class="col-7 col-md-9 bg-light border-start border-bottom border-white border-3">
                        <div class="p-2">{% if perfil.es_activo == 1 %}Activo{% else %}Inactivo{% endif %}</div>
                    </div>
                    <div class="col-5 col-md-3 bg-light border-bottom border-white border-3">
                        <div class="p-2">Tutor</div>
                    </div>
                    <div class="col-7 col-md-9 bg-light border-start border-bottom border-white border-3">
                        <div class="p-2">{{ perfil.tutorLegal.nombre}} {{ perfil.tutorLegal.apellidos }}</div>
                    </div>
                    <div class="col-5 col-md-3 bg-light border-bottom border-white border-3">
                        <div class="p-2">Equipo</div>
                    </div>
                    <div class="col-7 col-md-9 bg-light border-start border-bottom border-white border-3">
                        <div class="p-2">{{ perfil.equipo.nombre }}</div>
                    </div>

              {% endif %}
              </div>
              {% else %}
                    <div class="row g-0">
                        <div class="col-12">
                            <div class="p-2">¡INSCRÍBETE PARA GESTIONAR TU PERFIL!</div>
                        </div>
                    </div>
                {% endif %}
              </div>

              <div class="tab-pane fade" id="profile-tab-pane" role="tabpanel" aria-labelledby="profile-tab" tabindex="0">
                  <form action="{% url 'perfil' %}" method="post" class="row gy-3 gy-xxl-4 h-100" id="formDatosPersonales"
                        enctype="multipart/form-data">
                      {% csrf_token %}
                      <div class="col-12">
                          <div class="row gy-2 d-flex flex-column justify-content-between">
                              <label class="col-12 form-label m-0">Selecciona tu imagen de perfil</label>

                              <div class="col-12">
                                  <input type="file" id="fileInput" name="profile_image" style="display: none;"
                                         accept="image/png, image/jpeg, image/jpg"/>
                                  <label for="fileInput" class="d-inline-block bg-success link-light lh-1 p-2 rounded "
                                     id="uploadButton">
                                      <i class="bi bi-upload"></i>
                                        <span class="ms-2">Subir Imagen</span>
                                  </label>

                              </div>
                          </div>
                      </div>
                      <div class="col-12 col-md-6">
                          <label for="inputFirstName" class="form-label">Nombre</label>
                          <input type="text" class="form-control" id="inputNombre" name="nombre"
                                 value="{{ perfil.nombre }}">
                      </div>
                      <div class="col-12 col-md-6">
                          <label for="inputLastName" class="form-label">Apellidos</label>
                          <input type="text" class="form-control" id="inputApellidos" name="apellidos"
                                 value="{{ perfil.apellidos }}">
                      </div>
                      <div class="col-12">
                          <button type="submit" class="btn btn-primary">Guardar Cambios</button>
                      </div>
                  </form>
            </div>
              <div class="tab-pane fade" id="email-tab-pane" role="tabpanel" aria-labelledby="email-tab" tabindex="0">
                <form action="{% url 'notificaciones' %}" method="POST" id="form-notificaciones" class="ajax-form">
                  {% csrf_token %}
                  <fieldset class="row gy-3 gy-md-0">
                    <legend class="col-form-label col-12 col-md-3 col-xl-2">Notificaciones Email</legend>
                    <div class="col-12 col-md-9 col-xl-10">

                      <div class="form-check">
                        <input class="form-check-input" type="checkbox" id="passwordChange" name="passwordChange" {% if notificaciones.password_change %}checked{% endif %}>
                        <label class="form-check-label" for="passwordChange">
                          Contraseña Cambiada
                        </label>
                      </div>
                      <div class="form-check">
                        <input class="form-check-input" type="checkbox" id="weeklyNewsletter" name="weeklyNewsletter" {% if notificaciones.weekly_newsletter %}checked{% endif %}>
                        <label class="form-check-label" for="weeklyNewsletter">
                          Noticias Semanales
                        </label>
                      </div>
                      <div class="form-check">
                        <input class="form-check-input" type="checkbox" id="newTraining" name="newTraining" {% if notificaciones.new_training %}checked{% endif %}>
                        <label class="form-check-label" for="newTraining">
                          Nuevos Entrenamientos
                        </label>
                      </div>
                    </div>
                  </fieldset>
                  <div class="row">
                    <div class="col-12">
                      <button type="submit" class="btn btn-primary mt-4">Guardar Cambios</button>
                    </div>
                  </div>
                </form>
              </div>
              <div class="tab-pane fade" id="password-tab-pane" role="tabpanel" aria-labelledby="password-tab" tabindex="0">
                <form action="{% url 'perfil_pass' %}" method="post" class="row gy-3 gy-xxl-4" id="new-ajax-form">
                    {% csrf_token %}
                    <div class="row gy-3 gy-xxl-4">
                        <div class="col-12">
                            <label for="currentPassword" class="form-label">Contraseña Actual</label>
                            <input type="password" class="form-control" id="currentPassword" name="password_actual">
                        </div>
                        <div class="col-12">
                            <label for="newPassword" class="form-label">Nueva Contraseña</label>
                            <input type="password" class="form-control" id="newPassword" name="new_password">
                        </div>
                        <div class="col-12">
                            <label for="confirmPassword" class="form-label">Repite Nueva Contraseña</label>
                            <input type="password" class="form-control" id="confirmPassword" name="confirmacion_password">
                        </div>
                        <div class="col-12">
                            <button type="submit" class="btn btn-primary">Cambiar Contraseña</button>
                        </div>
                        <div id="error-messages">
                            {% for e in errores %}
                            <p>{{ e }}</p>
                        {% endfor %}
                        </div>
                        <div id="success-messages"></div>
                    </div>
                </form>
              </div>
                <div class="tab-pane fade" id="pedidos-tab-pane" role="tabpanel" aria-labelledby="pedidos-tab" tabindex="0">
                    <div class="accordion" id="accordionPanelsStayOpenExample">
                        {% for p in pedidos %}
                            <div class="accordion-item">
                                <h2 class="accordion-header" id="heading{{ p.id }}">
                                    <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
                                            data-bs-target="#collapse{{ p.id }}" aria-expanded="false"
                                            aria-controls="collapse{{ p.id }}">
                                        {{ p.numPedido }}, {{ p.fecha }}, {{ p.direccion }}, {{ p.metodoEnvio }}, {{ p.total }}€
                                    </button>
                                </h2>
                                <div id="collapse{{ p.id }}" class="accordion-collapse collapse"
                                     aria-labelledby="heading{{ p.id }}"
                                     data-bs-parent="#accordionExample">
                                    <div class="accordion-body">
                                        {% for lp in p.lineapedido_set.all %}
                                            <p style="margin: 0">{{ lp.prductoTalla.producto.tipo.nombre }}, {{ lp.prductoTalla.producto.nombre }},
                                                Unidades: {{ lp.cantidad }}</p>
                                        {% endfor %}
                                        <a href="{% url 'crear_reclamaciones' p.id %}" class="btn btn-primary">Crear
                                            reclamación</a>
                                    </div>
                                </div>
                            </div>
                        {% endfor %}
                    </div>
                </div>
                <div class="tab-pane fade" id="reclamaciones-tab-pane" role="tabpanel"
                     aria-labelledby="reclamaciones-tab" tabindex="0">
                    <h5 class="mb-3">Reclamaciones</h5>
                    <div class="accordion" id="accordionReclamaciones">
                        {% for reclamacion in reclamaciones %}
                            <div class="accordion-item">
                                <h2 class="accordion-header" id="headingReclamacion{{ reclamacion.id }}">
                                    <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
                                            data-bs-target="#collapseReclamacion{{ reclamacion.id }}"
                                            aria-expanded="false"
                                            aria-controls="collapseReclamacion{{ reclamacion.id }}">
                                        {{ reclamacion.producto.nombre }} - {{ reclamacion.fecha }}
                                    </button>
                                </h2>
                                <div id="collapseReclamacion{{ reclamacion.id }}" class="accordion-collapse collapse"
                                     aria-labelledby="headingReclamacion{{ reclamacion.id }}"
                                     data-bs-parent="#accordionReclamaciones">
                                    <div class="accordion-body">
                                        {{ reclamacion.motivo }}
                                    </div>
                                </div>
                            </div>
                        {% endfor %}
                    </div>
                </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

</section>
<script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>

{#<script src="https://unpkg.com/bootstrap@5.3.2/dist/js/bootstrap.bundle.min.js"></script>#}
<script>
    $(function() {
    // Guarda la última pestaña activa en el almacenamiento local del navegador
    $('button[data-bs-toggle="tab"]').on('shown.bs.tab', function (e) {
        localStorage.setItem('lastTab', $(this).attr('href'));
    });

    // Recupera la última pestaña activa del almacenamiento local
    var lastTab = localStorage.getItem('lastTab');
    if (lastTab) {
        var tab = new bootstrap.Tab(document.querySelector('[href="' + lastTab + '"]'));
        tab.show();
    }
});
</script>


<script>
    $('.ajax-form').on('submit', function(e) {
    e.preventDefault();

    var formId = $(this).attr('id');



    $.ajax({
        url: $(this).attr('action'),
        type: 'POST',
        data: $(this).serialize(),
        success: function(data) {
            console.log('Response:', data);
            if (data.success) {
                $('#success-messages').html('<p>' + data.success + '</p>');
                alert(data.success);
                if (formId === 'form-perfil-pass') {
                    window.location.href = "{% url 'perfil' %}";
                }
            } else {
                console.log('La respuesta del servidor no incluye un mensaje de éxito');
            }
        },
        error: function(jqXHR, textStatus, errorThrown) {
            console.log('Error:', jqXHR, textStatus, errorThrown);
            if (jqXHR.status === 400) {
                var errores = jqXHR.responseJSON.errores;
                $('#error-messages').html('');
                errores.forEach(function(error) {
                    $('#error-messages').append('<p>' + error + '</p>');
                });
                alert(errores.join('\n'));
            }
        }
    });
});

</script>
<script>
    const Toast = Swal.mixin({
      toast: true,
      position: "top-end",
      showConfirmButton: false,
      timer: 6000,
      timerProgressBar: true,
      didOpen: (toast) => {
        toast.onmouseenter = Swal.stopTimer;
        toast.onmouseleave = Swal.resumeTimer;
      }
    });

    $(document).ready(function() {
    $('#new-ajax-form').on('submit', function(e) {
        e.preventDefault();

        var formId = $(this).attr('id');

        $.ajax({
            url: $(this).attr('action'),
            type: 'POST',
            data: $(this).serialize(),
            success: function(data) {
                console.log('Response:', data);
                if (data.success) {
                    alert(data.success);
                    if (formId === 'new-ajax-form') {
                        window.location.href = "{% url 'perfil' %}";
                    }
                } else {
                    console.log('La respuesta del servidor no incluye un mensaje de éxito');
                }
            },
            error: function(jqXHR, textStatus, errorThrown) {
                console.log('Error:', jqXHR, textStatus, errorThrown);
                if (jqXHR.status === 400) {
                    var errores = jqXHR.responseJSON.errores;
                    $('#error-messages').html('');
                    errores.forEach(function(error) {
                        $('#error-messages').append('<p>' + error + '</p>');
                    });
                }
            }
        });
    });
});
    document.addEventListener('DOMContentLoaded', (event) => {

    document.getElementById('fileInput').addEventListener('change', function() {
        // Actualiza la imagen de perfil cuando se selecciona un nuevo archivo
        var validExtensions = ['.jpg', '.png', '.jpeg']; // Las extensiones permitidas
        var fileInput = $(this)[0];
        var file = fileInput.files[0];
        var fileExtension = '.' + file.name.split('.').pop().toLowerCase();

        if (!validExtensions.includes(fileExtension)) {
            return;
        }

        var file = this.files[0];
        var reader = new FileReader();
        reader.onloadend = function() {
            document.getElementById('profileImage').src = reader.result;
        }
        reader.readAsDataURL(file);
    });
});
$(document).ready(function() {
    var validExtensions = ['.jpg', '.png', '.jpeg']; // Las extensiones permitidas

    $('#fileInput').on('change', function(event) {
        var fileInput = $(this)[0];
        var file = fileInput.files[0];
        var fileExtension = '.' + file.name.split('.').pop().toLowerCase();

        if (validExtensions.includes(fileExtension)) {
            var formData = new FormData();
            formData.append('profile_image', file);

            $.ajax({
                url: '/ClubBarrioApp/usuario/perfil/',
                type: 'POST',
                data: formData,
                processData: false,
                contentType: false,
                success: function(data) {
                    $('#profileImage').attr('src', data.image_url);
                },
                error: function(jqXHR) {
                    var errorJson = JSON.parse(jqXHR.responseText);
                    alert(errorJson.error);
                }
            });
        } else {
            Toast.fire({
              icon: "error",
              title: "El archivo seleccionado no es una imagen"
            });
            $(this).val(''); // Limpia el campo de entrada del archivo
        }
    });
});
</script>
{% include 'footer.html' %}
</body>
</html>