{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Registro</title>
    <style>
        .gradient-custom-2 {
            /* fallback for old browsers */
            background: #172c3f;

            /* Chrome 10-25, Safari 5.1-6 */
            background: -webkit-linear-gradient(to right, #003b20, #00653d, #00a256, #00d069);

            /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
            background: linear-gradient(to right, #003b20, #00653d, #00a256, #00d069);
        }

        @media (min-width: 768px) {
            .gradient-form {
                height: 100vh !important;
            }
        }

        @media (min-width: 769px) {
            .gradient-custom-2 {
                border-top-right-radius: .3rem;
                border-bottom-right-radius: .3rem;
            }
        }

        .card:hover {
            /* Aquí puedes agregar el efecto que quieras cuando se pasa el mouse sobre el elemento, por ejemplo, cambiar el color de fondo */
            background-color: white !important;
        }

        .card {
            cursor: default !important;
        }

        .shadow-custom {
            box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 20px 6px 20px 0 rgba(0, 0, 0, 0.19);
        }
    </style>
</head>
<body>
{% include "barra_navegacion.html" %}
<script>
    function mostrarMensajeBienvenida() {
        var nombreUsuario = document.getElementById('form2Example11').value;
        alert('Bienvenido, ' + nombreUsuario + '!');
        window.location.href = 'consumo.html';
    }
</script>

<main>
    <section class="h-100 gradient-form" style="background-color: #eee;">
        <div class="container py-5 h-100 d-flex justify-content-center">
            <div class="row d-flex justify-content-center align-items-center h-100 col-12 col-lg-6">
                <div class="card rounded-3 text-black shadow-custom">
                    <div class="row g-0">
                        <div class="col-12">
                            <div class="card-body p-md-5 mx-md-4">
                                <div class="text-center">
                                    <img src="https://i.ibb.co/hY5nY5D/prueba-logo2.png"
                                         style="width: 185px;" alt="logo">
                                    <h4 class="mt-1 mb-5 pb-1"></h4>
                                </div>
                                <form action="" method="post" id="form-id">
                                    {% csrf_token %}
                                    <div class="text-center">
                                        <p><b>Registrate</b></p>
                                    </div>

                                    <div class="form-outline mb-4">

                                        <label class="form-label" for="nombre_usuario">Nombre usuario</label>
                                        <input type="text" id="nombre_usuario" name="nombre_usuario"
                                               class="form-control" maxlength="20" value="{{ nombre_usuraio }}"/>
                                    </div>

                                    <div class="form-outline mb-4">
                                        <label class="form-label" for="email">Email</label>
                                        <input type="email" id="email" name="email" class="form-control" maxlength="30"
                                               value="{{ email }}"/>
                                    </div>

                                    <div class="form-outline mb-4">
                                        <label class="form-label" for="contrasenya">Contraseña</label>
                                        <input type="password" id="contrasenya" name="contrasenya"
                                               class="form-control"/>
                                    </div>

                                    <div class="form-outline mb-4">
                                        <label class="form-label" for="repetirContrasenya">Confirmar Contraseña</label>
                                        <input type="password" id="repetirContrasenya" name="repetirContrasenya"
                                               class="form-control"/>
                                    </div>

                                    <div class="form-outline mb-4">
                                        <label class="form-label" for="fechaNacimiento">Fecha de nacimiento</label>
                                        <input type="date" id="fecha_nacimiento" name="fecha_nacimiento"
                                               class="form-control" value="{{ fecha_nacimiento }}"/>
                                    </div>

                                    <div class="text-center pt-1 mb-5 pb-1">
                                        <button class="btn btn-primary btn-block fa-lg gradient-custom-2 mb-3"
                                                type="submit">
                                            Crear usuario
                                        </button>
                                    </div>

                                    <div class="modal fade" id="exampleModal" tabindex="-1"
                                         aria-labelledby="exampleModalLabel" aria-hidden="true">
                                        <div class="modal-dialog">
                                            <div class="modal-content">
                                                <div class="modal-header">
                                                    <h5 class="modal-title" id="exampleModalLabel">Error</h5>
                                                    <button type="button" class="btn-close" data-bs-dismiss="modal"
                                                            aria-label="Close"></button>
                                                </div>
                                                <div class="modal-body" id="errores">

                                                </div>
                                                <div class="modal-footer">
                                                    <button type="button" class="btn btn-secondary"
                                                            data-bs-dismiss="modal">Cerrar
                                                    </button>

                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </form>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
</main>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
<script>
    $('#form-id').on('submit', function (e) {
        e.preventDefault();
        $('#errores').html('');

        $.ajax({
            url: $(this).attr('action'),
            type: 'POST',
            data: $(this).serialize(),
            success: function (data) {
                sessionStorage.setItem('showToastRegistro', 'true');
                // Si la contraseña se cambió con éxito, redirige al usuario a profile.html
                window.location.href = "{% url 'login' %}";
            },
            error: function (jqXHR, textStatus, errorThrown) {
                if (jqXHR.status === 400) {
                    var errores = jqXHR.responseJSON.errores;
                    var div_errores = document.getElementById('errores');
                    div_errores.style.display = 'block';
                    // Muestra los errores en la página

                    errores.forEach(function (error) {
                        $('#errores').append('<p>' + error + '</p>');
                    });
                    $('#exampleModal').modal('show');
                }
            }
        });
    });
</script>

</body>
{% include 'footer.html' %}
</html>