{% load static %}
<!DOCTYPE html>
<html lang="en">
{% include "barra_navegacion.html" %}
<head>
    <title>Pagina de Tarifas</title>
    <link rel="stylesheet" href="{% static 'css/tarifas.css' %}">
</head>


<body>
<div class="container my-5 tarifas">
    <div class="row flex-items-xs-middle flex-items-xs-center">
        <div class="col-xs-12 col-lg-4">
            <div class="card text-center">
                <div class="card-header">
                    <h3 class="display-2"><span class="currency">€</span>15<span class="period">/mes</span></h3>
                </div>
                <div class="card-block">
                    <h4 class="card-title">
                        Plan Basic
                    </h4>
                    <ul class="list-group">
                        <li class="list-group-item">Acceso para 1 jugador</li>
                        <li class="list-group-item">Descuento 5% en tienda</li>
                        <li class="list-group-item">Acceso a resultados del equipo</li>
                        <li class="list-group-item">...</li>
                    </ul>
                </div>
            </div>
        </div>
        <div class="col-xs-12 col-lg-4">
            <div class="card text-center ">
                <div class="card-header">
                    <h3 class="display-2"><span class="currency">€</span>25<span class="period">/mes</span></h3>
                </div>
                <div class="card-block">
                    <h4 class="card-title">
                        Plan Plus
                    </h4>
                    <ul class="list-group">
                        <li class="list-group-item">Acceso para 3 jugadores</li>
                        <li class="list-group-item">Descuento 5% en tienda</li>
                        <li class="list-group-item">Acceso a resultados del equipo</li>
                        <li class="list-group-item">Carnet de socio</li>
                    </ul>
                </div>
            </div>
        </div>


        <div class="col-xs-12 col-lg-4">
            <div class="card text-center">
                <div class="card-header">
                    <h3 class="display-2"><span class="currency">€</span>35<span class="period">/mes</span></h3>
                </div>
                <div class="card-block">
                    <h4 class="card-title">
                        Plan Premium
                    </h4>
                    <ul class="list-group">
                        <li class="list-group-item">Acceso para 5 jugadores</li>
                        <li class="list-group-item">Descuento 10% en tienda</li>
                        <li class="list-group-item">Acceso a resultados del equipo</li>
                        <li class="list-group-item">3 Carnets de socio</li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</div>
</body>
{% include 'footer.html' %}
</html>
