{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Términos y servicios</title>
    <style>

        .terminos {
            padding-left: 5%;
            padding-right: 5%;
        }

        .container{
            width: 100%;
            margin: 0;
        }
        @media (max-width: 575.98px){
            .container{
                width: 100%; !important;
                margin: 0; !important;
            }
        }

        .gradient-custom-2 {
            /* fallback for old browsers */
            background: #172c3f;

            /* Chrome 10-25, Safari 5.1-6 */
            background: -webkit-linear-gradient(to right, #003b20, #00653d, #00a256, #00d069);

            /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
            background: linear-gradient(to right, #003b20, #00653d, #00a256, #00d069);
        }

        @media (min-width: 768px) {
            .gradient-form {
                height: 100vh !important;
            }
        }

        @media (min-width: 769px) {
            .gradient-custom-2 {
                border-top-right-radius: .3rem;
                border-bottom-right-radius: .3rem;
            }
        }
    </style>
</head>
{% include "barra_navegacion.html" %}
<body>
<div class="container">
    <div class="terminos align-items-center flex-column my-3 px-3 ">
        <div class="text-white gradient-custom-2 px-3">
            <div class="prologo p-3">
                <h4 class="mb-4">Términos y Condiciones de Uso:</h4>
                <p class="mb-4">
                    Bienvenido a SafaClub, un club de deporte revolucionario. Al acceder y utilizar nuestros servicios,
                    aceptas cumplir y quedar sujeto a los siguientes términos y condiciones de uso. Si no estás de
                    acuerdo
                    con alguno de estos términos, no podrás utilizar nuestros servicios.
                </p>
            </div>
            <div class="apartados p-3">
                <div class="titulo-1 p-3">
                    <h5>1. Uso del Sitio Web y Servicios</h5>
                </div>
                <div class="ap-1">
                    <ul>
                        <li>
                            1.1. Nuestro sitio web y servicios están destinados únicamente para uso personal y no
                            comercial,
                            unicamente se realizaran pagos en nuestra tienda oficial, nada de pagina externas. No puedes
                            utilizar
                            nuestros servicios con fines ilegales o no autorizados.
                        </li>
                        <li>
                            1.2. Te comprometes a proporcionar información precisa y completa al registrarte en nuestros
                            servicios.
                            Eres responsable de mantener la confidencialidad de tu cuenta y contraseña.
                        </li>
                        <li>
                            1.3. Nos reservamos el derecho de modificar, suspender o interrumpir nuestros servicios en
                            cualquier
                            momento sin previo aviso.
                        </li>
                    </ul>
                </div>
                <div class="titulo-2 p-3">
                    <h5>2. Propiedad Intelectual</h5>
                </div>
                <div class="ap-2">
                    <ul>
                        <li>
                            2.1. Todos los contenidos proporcionados en nuestro sitio web, incluyendo, pero no
                            limitándose
                            a,
                            textos, gráficos, logotipos, imágenes, videos, sonidos, marcas comerciales y software, son
                            propiedad
                            exclusiva de nuestro club o de sus licenciantes, y están protegidos por las leyes de
                            propiedad
                            intelectual.
                        </li>
                        <li>
                            2.2. No puedes copiar, modificar, distribuir, transmitir, mostrar, reproducir, publicar,
                            licenciar,
                            crear trabajos derivados, transferir o vender ningún contenido de nuestro sitio web sin el
                            consentimiento expreso por escrito del club.
                        </li>
                    </ul>
                </div>
                <div class="titulo-3 p-3">
                    <h5>3. Política de Privacidad</h5>
                </div>
                <div class="ap-3">
                    <ul>
                        <li>
                            3.1. La recopilación y el uso de tu información personal están sujetos a nuestra Política de
                            Privacidad,
                            que puedes consultar en https://www.SafaClub.es/Politica-de-privacidad-SafaClub.
                        </li>
                    </ul>
                </div>
                <div class="titulo-4 p-3">
                    <h5>4. Limitación de Responsabilidad</h5>
                </div>
                <div class="ap-4">
                    <ul>
                        <li>
                            4.1. En ningún caso la Empresa será responsable por daños directos, indirectos,
                            incidentales,
                            especiales, consecuentes o punitivos, incluyendo, pero no limitándose a, pérdida de
                            beneficios,
                            datos,
                            uso o cualquier otro tipo de pérdida intangible, resultante del uso o la imposibilidad de
                            usar
                            nuestros
                            servicios.
                        </li>
                    </ul>
                </div>
                <div class="titulo-5 p-3">
                    <h5>5. Ley Aplicable</h5>
                </div>
                <div class="ap-5">
                    <ul>
                        <li>
                            5.1. Estos términos y condiciones se regirán e interpretarán de acuerdo con las leyes del
                            España, sin
                            tener en cuenta sus conflictos de disposiciones legales.
                        </li>
                    </ul>
                </div>
                <div class="titulo-6 p-3">
                    <h5>6. Modificaciones</h5>
                </div>
                <div class="ap-6">
                    <ul>
                        <li>
                            6.1. Nos reservamos el derecho de actualizar o modificar estos términos y condiciones en
                            cualquier
                            momento sin previo aviso. La versión actualizada de los términos y condiciones estará
                            disponible
                            en
                            nuestro sitio web y será efectiva a partir de su publicación. Es tu responsabilidad revisar
                            periódicamente estos términos y condiciones para estar al tanto de cualquier cambio.
                        </li>
                    </ul>
                </div>
            </div>
            <div class="epilogo p-3">
                <p>
                    Al utilizar nuestros servicios, aceptas estos términos y condiciones. Si tienes alguna pregunta
                    sobre
                    estos términos y condiciones, contáctanos en clubdebarrio@gmail.com.
                </p>
            </div>
            <div class="fecha p-3">
                <p>
                    Última actualización: 24/04/2024
                </p>
            </div>
        </div>
    </div>
</div>

</body>
{% include 'footer.html' %}
</html>