{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Tienda</title>

    <style>


        body {
            background: #eee !important;
        }
        

        .card {
            cursor: default !important;
        }

    </style>
</head>
{% include "barra_navegacion.html" %}
<body>
<div class="container-fluid d-flex justify-content-center mt-5">
    <div class="row row-cols-1 row-cols-md-2 row-cols-lg-3 mb-3 text-center w-75">
        {% for p in entity %}
            <div class="d-flex justify-content-center container mt-5">
                <div class="card p-3 bg-white h-100 w-100 d-flex flex-column">
                    <div class="about-product text-center mt-2"><a href="{% url 'producto' id=p.id %}"><img
                            src="{{ p.url_imagen }}" class="img-fluid"></a>
                        <div>
                            <h4>{{ p.nombre }}</h4>
                            <h6 class="mt-0 text-black-50">{{ p.descripcion }}</h6>
                        </div>
                    </div>
                    <div class="d-flex justify-content-between total font-weight-bold mt-4">
                        <span>Precio</span><span><b>{{ p.precio }}€</b></span></div>
                </div>

            </div>
        {% endfor %}
    </div>

</div>
{% include 'paginator.html' %}
</body>
{% include 'footer.html' %}
</html>