{% load static %}
<!DOCTYPE html>
<html lang="en">
{% include "barra_navegacion.html" %}
<head>
    <title>Pagina de Inicio</title>

    <style>
        .carousel-inner {
            width: 100%;
            height: 100%;
        }

        .carousel-item {
            width: 100%;
            height: 100%;
            background-color: #f0f0f0;
        }

        .carousel-item img {
            width: 100%;
            height: 100%;
        }


        #derecha {
            display: flex;
            align-items: center;
            justify-content: center;
        }

        #contenedor {
            margin-top: 30px;
        }

        #foto_carrusel {
            padding: 10px;
        }

        .carousel-control-next-icon, .carousel-control-prev-icon {
            background-color: black;
        }


        /* Cambia el color de los títulos de los días */
        .fc-day-header {
            background-color: #00653d;
            color: white;
        }

        /* Cambia el color de los números de los días */
        .fc-day-number {
            color: #00653d;
        }

        #widget_tiempo {
            position: fixed;
            top: 200px;
            right: 0;
            max-width: 200px;
            min-width: 50px;
            z-index: 9999;
            background-color: #00653d;
        }

        .nav-item .nav-link.active {
            background-color: #00653D !important; /* Cambia este valor al color que desees */
            color: #fff !important; /* Cambia este valor al color que desees */
        }

        .nav-item .nav-link {
            color: #00653D !important; /* Cambia este valor al color que desees */
        }

    </style>
    <link href='https://cdnjs.cloudflare.com/ajax/libs/fullcalendar/3.10.2/fullcalendar.min.css' rel='stylesheet'/>
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <script src='https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.29.1/moment.min.js'></script>
    <script src='https://cdnjs.cloudflare.com/ajax/libs/fullcalendar/3.10.2/fullcalendar.min.js'></script>
    <script src='https://cdn.jsdelivr.net/npm/fullcalendar@3.10.2/dist/locale/es.js'></script>

</head>


<body>
<div id="widget_tiempo" class="py-2 rounded-start d-none d-sm-block">
    <div class="container-fluid position-sticky top-0 start-0">
        <div id="ww_8676dbf7a199e" v='1.3' loc='id'
             a='{"t":"horizontal","lang":"es","sl_lpl":1,"ids":["wl4484"],"font":"Arial","sl_ics":"one_a","sl_sot":"celsius","cl_bkg":"#455A64","cl_font":"#FFFFFF","cl_cloud":"#FFFFFF","cl_persp":"#81D4FA","cl_sun":"#FFC107","cl_moon":"#FFC107","cl_thund":"#FF5722","el_whr":3}'>
            Más previsiones: <a href="https://oneweather.org/es/madrid/25_days/" id="ww_8676dbf7a199e_u"
                                target="_blank">Tiempo 25 días</a></div>
        <script async src="https://app2.weatherwidget.org/js/?id=ww_8676dbf7a199e"></script>
    </div>
    <img src="{% static '6207a0fe26ab99000460a356.png' %}" alt="weather"
         style="display: none;max-width: 90px; padding-inline: 10px"/>
</div>
<div class="container-fluid" id="contenedor">
    <div class="row row-cols-md-2 row-cols-lg-2 row-cols-sm-1 row-cols-1 mb-3">
        <div class="col d-flex flex-column text-center px-5">
        {% if user.is_authenticated  and user.rol == "Usuario" %}
            <ul class="nav nav-tabs d-flex " id="myTab" role="tablist">
                <li class="nav-item flex-grow-1" role="presentation">
                    <button class="nav-link active w-100 py-4" id="inscripcion-tab" data-bs-toggle="tab"
                            data-bs-target="#inscripcion" type="button" role="tab" aria-controls="inscripcion"
                            aria-selected="true">Inscripción
                    </button>
                </li>
                <li class="nav-item flex-grow-1" role="presentation">
                    <button class="nav-link w-100 py-4" id="equipos-tab" data-bs-toggle="tab" data-bs-target="#equipos"
                            type="button" role="tab" aria-controls="equipos" aria-selected="false">Equipos disponibles
                    </button>
                </li>
            </ul>
            <div class="tab-content" id="myTabContent">
                <div class="tab-pane fade show active" id="inscripcion" role="tabpanel"
                     aria-labelledby="inscripcion-tab">
                    <h1 class="mb-3 mt-5">Inscríbete</h1>
                    <p>¡Únete a nuestro equipo de baloncesto infantil y experimenta la emoción del juego en su máximo
                        esplendor! </p><br>
                    <p>En nuestra familia deportiva, no solo aprenderás las habilidades fundamentales del baloncesto,
                        sino que también cultivarás la camaradería, el trabajo en equipo y la determinación. </p><br>
                    <p>Nuestros entrenadores están comprometidos a ayudarte a crecer como jugador y como persona,
                        mientras te diviertes y alcanzas tus metas en la cancha.</p><br>
                    <p>¡Ven y forma parte de esta aventura donde cada pase, cada tiro y cada victoria son momentos
                        inolvidables que compartirás con tus compañeros de equipo! ¡Inscríbete ahora y descubre el
                        apasionante mundo del baloncesto junto a nosotros!</p>

                    <a class="btn btn-outline-success btn-custom align-self-center mt-3" role="button"
                       href="{% url 'inscripciones' %}">Inscripción</a>
                </div>
                <div class="tab-pane fade" id="equipos" role="tabpanel" aria-labelledby="equipos-tab">
                    <h1 class="mb-3 mt-5">Equipos con plazas</h1>
                    {% for categoria, equipos in equipos_por_categoria.items %}
                        <h3 class="mb-3">{{ categoria }}</h3>
                        {% for equipo_info in equipos %}
                            <div class="row">
                                <p><b>{{ equipo_info.equipo.nombre }}</b>:
                                    {{ equipo_info.plazas_libres }} plazas libres</p>
                            </div>
                        {% endfor %}
                    {% endfor %}
                </div>
            </div>
        {% else %}
            <ul class="nav nav-tabs d-flex " id="myTab" role="tablist">
                <li class="nav-item flex-grow-1" role="presentation">
                    <button class="nav-link active w-100 py-4" id="inscripcion-tab" data-bs-toggle="tab"
                            data-bs-target="#inscripcion" type="button" role="tab" aria-controls="inscripcion"
                            aria-selected="true">Proximamente
                    </button>
                </li>
                <li class="nav-item flex-grow-1" role="presentation">
                    <button class="nav-link w-100 py-4" id="equipos-tab" data-bs-toggle="tab" data-bs-target="#equipos"
                            type="button" role="tab" aria-controls="equipos" aria-selected="false">Gestiona tus jugadores
                    </button>
                </li>
            </ul>
            <div class="tab-content" id="myTabContent">
                <div class="tab-pane fade show active" id="inscripcion" role="tabpanel"
                     aria-labelledby="inscripcion-tab">
                    <h1 class="mb-3 mt-5">Proximamente</h1>
                    <p>¡Únete al emocionante mundo del baloncesto este verano con SAFA Club! 🏀 Sumérgete en un                      ambiente lleno de diversión, aprendizaje y amistad mientras mejoras tus habilidades en la cancha </p><br>
                    <p>Nuestro campus de verano ofrece una experiencia única donde podrás desarrollar tu talento bajo
                        la tutela de entrenadores expertos y conocer a otros apasionados del deporte.  </p><br>
                    <p>¡No pierdas la oportunidad de vivir un verano inolvidable con SAFA Club!
                        ¡Inscripciones abiertas en Junio! Ponte en contacto con nosotros y te llamamos </p><br>
                    <div class="container-fluid d-flex justify-content-center">
                    <img class="img-fluid d-none d-sm-block" src="{% static 'juegos-de-piscina-destacada.jpg' %}" alt="campus_verano" style="max-width: 300px; min-width: 200px" id="foto_carrusel">
                    </div>

                    <a class="btn btn-outline-success btn-custom align-self-center mt-3" role="button"
                       href="{% url 'contacto' %}">Contactanos</a>
                </div>
                <div class="tab-pane fade" id="equipos" role="tabpanel" aria-labelledby="equipos-tab">
                    <h1 class="mb-3 mt-5">Gestiona tus jugadores</h1>
{#                    {% for categoria, equipos in equipos_por_categoria.items %}#}
{#                        <h3 class="mb-3">{{ categoria }}</h3>#}
{#                        {% for equipo_info in equipos %}#}
{#                            <div class="row">#}
{#                                <p><b>{{ equipo_info.equipo.nombre }}</b>:#}
{#                                    {{ equipo_info.plazas_libres }} plazas libres</p>#}
{#                            </div>#}
{#                        {% endfor %}#}
{#                    {% endfor %}#}
                </div>
            </div>



        
        {% endif %}
        </div>
        <div class="col d-flex flex-column text-center px-7 mt-5 mt-sm-0" id="derecha">
            <h1 class="mb-5 mt-md-0 mt-sm-4">Próximos partidos</h1>
            <div id='calendar' class="w-75"></div>
        </div>
    </div>
</div>
<div id="carrusel" class="carousel slide">
    <div class="carousel-inner">


        {% for n in noticias %}

            <div class="carousel-item {% if forloop.first %} active {% endif %} py-4 my-4">
                <div class="row justify-content-center align-items-center row-cols-1 row-cols-md-2 row-cols-sm-1">
                    <img src="{{ n.url_imagen }}" class="img-fluid d-md-block d-none"
                         style="max-width: 350px; min-width: 200px" alt="foto_carrusel" id="foto_carrusel">
                    <div class="col px-5">
                        <h2>{{ n.titulo }}</h2>
                        <br>
                        <p>{{ n.articulo }}</p>
                    </div>
                </div>
            </div>

        {% endfor %}
        <button class="carousel-control-prev" type="button" data-bs-target="#carrusel" data-bs-slide="prev">
            <span class="carousel-control-prev-icon" aria-hidden="true"></span>
            <span class="visually-hidden">Previous</span>
        </button>
        <button class="carousel-control-next" type="button" data-bs-target="#carrusel" data-bs-slide="next">
            <span class="carousel-control-next-icon" aria-hidden="true"></span>
            <span class="visually-hidden">Next</span>
        </button>
    </div>
</div>
<script>
    $(document).ready(function () {
        $('#calendar').fullCalendar({
            header: {
                left: 'prev,next hoy',
                center: 'title',
                right: 'month,agendaWeek,agendaDay'
            },
            locale: 'es',
            defaultDate: new Date(),
            navLinks: true,
            editable: false,
            eventLimit: true,
            events: [
                {% for p in partidos %}
                    {
                        title: '{{ p.equipo1 }} vs {{ p.equipo2 }} horario: {{ p.hora }}',
                        start: '{{ p.fecha|date:"Y-m-d" }}',
                        allDay: true
                    },
                {% endfor %}
            ]
        });
    });
</script>

<script>
    var widgetTiempo = document.getElementById('widget_tiempo');

    widgetTiempo.addEventListener('click', ocultarWidget);

    function ocultarWidget(event) {
        widgetTiempo.children[0].style.display = widgetTiempo.children[0].style.display === 'none' ? 'block' : 'none';
        widgetTiempo.children[1].style.display = widgetTiempo.children[1].style.display === 'none' ? 'block' : 'none';
    }
</script>

</body>
{% include 'footer.html' %}
</html>
